/* === COMMENTS === */
#comments-template{
	padding-bottom: 20px;
	padding-bottom: 2rem;
	margin-bottom: 20px;
	margin-bottom: 2rem;
}
	#comments{
	}
	.comments-header{
	}
	.comments-header:after{
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}
		.comments-nav{
			float: right;
		}
			.comments-nav a{
			}
				.comments-nav .prev-comments{
				}
				.comments-nav .prev-comments:before{
					content: "\f340";
					font-family: "dashicons";
					vertical-align: top;
					-webkit-font-smoothing: antialiased;
					margin-right: 10px;
					margin-right: 1rem;
				}
				.comments-nav .next-comments{
				}
				.comments-nav .next-comments:after{
					content: "\f344";
					font-family: "dashicons";
					vertical-align: top;
					-webkit-font-smoothing: antialiased;
					margin-left: 10px;
					margin-left: 1rem;
				}
				.comments-nav .prev-comments .screen-reader-text,
				.comments-nav .next-comments .screen-reader-text{
				}
			.comments-nav .page-numbers{
			}
		#comments-number{
			font-size: 1.2em;
			font-weight: 600;
			margin-bottom: 1rem;
			padding-bottom: 1rem;
			border-bottom: 1px solid #ccc;
		}
	.comment-list{
		list-style: none;
		margin: 0;
	}
		.comment-list .children{
			list-style: none;
			margin: 0 0 0 10px;
			margin: 0 0 0 1rem;
		}
		/* Comment */
		.comment{
		}
		.comment.bypostauthor{
		}
			.comment-wrap{
				border: 1px solid #ccc;
				padding: 10px;
				padding: 1rem;
				margin-bottom: 10px;
				margin-bottom: 1rem;
				background: #fff;
			}
			.comment-wrap:after{
				content:".";display:block;height:0;clear:both;visibility:hidden;
			}
				.comment-meta{
					margin-bottom: 10px;
					margin-bottom: 1rem;
					padding-bottom: 10px;
					padding-bottom: 1rem;
					border-bottom: 1px solid #ccc;
					color:#999;
				}
				.comment-meta:after{
					content:".";display:block;height:0;clear:both;visibility:hidden;
				}
					.comment-meta .avatar{
						float: left;
						margin-right: 10px;
						margin-right: 1rem;
						width: 45px;
						width: 4.5rem;
						height: 45px;
						height: 4.5rem;
					}
					.comment-author{
						margin-bottom: 10px;
						margin-bottom: 1rem;
						color:#444;
						font-style: normal;
						font-weight: 700;
					}
					.comment-published{
					}
					.comment-permalink{
					}
					.comment-edit-link{
					}
					.comment-edit-link:after{
						content: "\f464";
						font-family: "dashicons";
						vertical-align: top;
						-webkit-font-smoothing: antialiased;
					}
				.comment-content{
				}
					.comment-content p{
						margin-bottom: 10px;
						margin-bottom: 1rem;
					}
				.comment-reply-link{
					float: right;
					padding: 0 5px;
					padding: 0 0.5rem;
				}
		/* Pingback */
		.pingback{
			margin-bottom: 10px;
			margin-bottom: 1rem;
			padding: 10px;
			padding: 1rem;
			border: 1px solid #ccc;
			background: #fff;
		}
			.pingback .comment-meta{
				border: none;
				padding: 0;
				margin: 0;
			}
				.pingback .comment-author{
					font-weight: 400;
				}
					.pingback .comment-author a{
						color: #444;
					}
					.pingback .comment-author a:hover,
					.pingback .comment-author a:focus{
						color: #21759B;
					}
				.pingback .comment-published{
					color: #444;
				}
				.pingback .comment-permalink{
				}
				.pingback .comment-edit-link{
				}
		
	#respond{
		margin-bottom: 10px;
		margin-bottom: 1rem;
		padding: 10px;
		padding: 1rem;
		border: 1px solid #ccc;
		background: #fff;
	}
	#respond:after{
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}
	.comment-list #respond{
		margin-left: 10px;
		margin-left: 1rem;
	}
		#reply-title{
			font-size: 1.2em;
			font-weight: 600;
			margin-bottom: 10px;
			margin-bottom: 1rem;
			padding-bottom: 10px;
			padding-bottom: 1rem;
			border-bottom: 1px solid #ccc;
		}
			#reply-title small,
			#cancel-comment-reply-link{
				float: right;
				font-weight: 400;
			}
		#commentform{
		}
			#commentform p{
				margin-bottom: 0;
			}
			#commentform .required{
				color: #ff0000;
			}
			#commentform label{
			}
			#commentform .logged-in-as{
			}
			#commentform .comment-notes{
			}
			/* Form input */
			#commentform .comment-form-author{
				width: 30%;
				margin-right: 5%;
				float: left;
			}
				#commentform #author{
				}
			#commentform .comment-form-email{
				width: 30%;
				margin-right: 5%;
				float: left;
			}
				#commentform #email{
				}
			#commentform .comment-form-url{
				width: 30%;
				float: left;
			}
			#commentform .comment-form-url:after{
				content:".";display:block;height:0;clear:both;visibility:hidden;
			}
				#commentform #url{
				}
			#commentform .comment-form-comment{
				float: none;
				width: 100%;
				clear: both;
			}
			#respond .comment-form-comment:before,
			#respond .comment-form-comment:after{
				content:".";display:block;height:0;clear:both;visibility:hidden;
			}
				#commentform #comment{
				}
			#commentform .form-allowed-tags{
				display: none; /* do not hide for public theme. */
			}
				#commentform .form-allowed-tags code{
					display: block;
					padding: 10px;
					padding: 1rem;
				}
			#commentform .form-submit{
			}
				#commentform #submit{
					margin-bottom: 0;
					margin-top: 10px;
					margin-top: 1rem;
					float: right
				}
/* Closed Comments */
.comments-closed{
	background: #eee;
	padding: 20px;
	padding: 2rem;
	margin-bottom: 30px;
	margin-bottom: 3rem;
}
.comments-closed.pings-open{
}
