/* === ELEMENTS === */
body{
	font-size: 14px;
	font-size: 1.4rem;
}
/* Default Background */
body.wordpress{
	background: #e6e6e6;
}
a{
	color: #21759B;
}
a:hover,
a:focus {
	color: #444;
}
ul{
	list-style: circle;
}
/* Blockquotes */
blockquote, q{
	position: relative;
	padding: 0 0 0 20px;
	padding: 0 0 0 2rem;
}
blockquote:before,
q:before{
	content: "\f122";
	font-family: "dashicons";
	color: #ccc;
	position: absolute;
	left: 0;
	-webkit-font-smoothing: antialiased;
}
/* Forms */
label{
}
/* Pre, Code */
pre{
	background-color: #eee;
}
code{
	background: #eee;
}

/* === #03 - IMAGES & MEDIA === */


/* === #04 - CONTAINER === */
#container{
	background: #fff;
	width: 1200px;
	margin: 20px auto;
	margin: 2rem auto;
	padding: 0;
}

/* === #05 - HEADER === */
#header{
	padding: 20px;
}
	#branding{
		
	}
	#branding:after{
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}
		#site-title{
			font-size: 25px;
			font-size: 2.5rem;
			margin-bottom: 10px;
			margin-bottom: 1rem;
		}
			#site-title a{
				font-weight: 800;
				color: #444;
			}
			#site-title a:hover,
			#site-title a:focus{
				color: #444;
				opacity: 0.8;
			}
		#site-description{
			font-size: 17px;
			font-size: 1.7rem;
			margin-bottom: 0;
		}


/* === #06 - MENUS === */

/* Primary Menu */
#menu-primary{
	background: #333;
	border: none;
}
	#menu-primary .menu-container{
		border: none;
	}
		#menu-primary li a{
			color: #fff;
			background: #333;
		}
		#menu-primary li a:hover,
		#menu-primary li a:focus{
			color: #e6e6e6;
		}
			#menu-primary li li a{
				color: #444;
				background: #fff;
			}
			#menu-primary li li a:hover,
			#menu-primary li li a:focus{
				color: #000;
			}
			#menu-primary .current-menu-item > a,
			#menu-primary .current-menu-ancestor > a{
				font-weight: 400;
			}
	/* Menu Search */
	#menu-primary .menu-search .search-toggle{
		color: #fff;
	}
	#menu-primary .search-toggle-active.menu-search button{
		color: #fff;
	}


/* === #07 - MAIN === */
#main{
	padding: 20px;
	padding: 2rem;
}
#main:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
	.main-wrap:after{
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}

/* === #08 - CONTENT === */
#content{
	width: 100%;
}

/* === #09 - LOOP META === */
.loop-meta{
	background: #fff;
	padding: 20px;
	padding: 2rem;
	padding-bottom: 0;
	margin: 0 20px 20px 0;
	margin: 0 2rem 2rem 0;
	border: 1px solid #ccc;
}
	.loop-title{
	}
	.loop-description{
	}


/* === #10 - ENTRY === */
.entry{
	margin-bottom: 20px;
	margin-bottom: 2rem;
	padding: 20px;
	padding: 2rem;
	border: 1px solid #ccc;
	background: #fff;
}
.entry:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
/* Entry Wrap */
.entry-wrap{
}
	/* Entry Header */
	.entry-header{
	}
		/* Entry Title */
		.entry-title{
			font-weight: 400;
			border-bottom: 1px solid #ccc;
			padding-bottom: 20px;
			padding-bottom: 2rem;
		}
		.sticky .entry-title:before{
			content: "\f109";
			color: #444;
			background: #e6e6e6;
			padding: 5px;
			padding: 0.5rem;
			margin-right: 10px;
			margin-right: 1rem;
			font-family: "dashicons";
			font-size: 17px;
			font-size: 1.7rem;
			vertical-align: middle;
			-webkit-font-smoothing: antialiased;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
		}
		/* Byline */
		.entry-byline{
			color: #444;
			margin-bottom: 20px;
			margin-bottom: 2rem;
		}
		.entry-footer .entry-byline{
			margin-bottom: 0;
		}
			.entry-byline a{
				color: #444;
			}
			.entry-byline a:hover,
			.entry-byline a:focus{
				color: #000;
			}
			.entry-author:before{
				content: "\f110";
				font-family: "dashicons";
				vertical-align: top;
				margin-right: 5px;
				margin-right: 0.5rem;
				color: #ccc;
				-webkit-font-smoothing: antialiased;
			}
			.entry-permalink:before{
				content: "\f103";
				font-family: "dashicons";
				vertical-align: top;
				margin-right: 5px;
				margin-right: 0.5rem;
				color: #ccc;
				-webkit-font-smoothing: antialiased;
			}
			.entry-published:before{
				content: "\f469";
				font-family: "dashicons";
				vertical-align: top;
				margin-right: 5px;
				margin-right: 0.5rem;
				color: #ccc;
				-webkit-font-smoothing: antialiased;
			}
			.comments-link:empty{
				display: none;
			}
			.comments-link:before{
				content: " | ";
			}
			.comments-link:after{
				content: "\f101";
				font-family: "dashicons";
				vertical-align: middle;
				-webkit-font-smoothing: antialiased;
			}
/* Entry Content, Entry Summary */
	.entry-content,
	.entry-summary{
	}
	.entry-content{
	}
	.entry-summary{
	}
	.entry-summary:after,
	.entry-content:after{
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}
		/* Thumbnail */
		.entry-summary .theme-thumbnail{
			float: right;
			margin: 0 0 20px 20px;
			margin: 0 0 2rem 2rem;
			border: 1px solid #ccc;
			padding: 10px;
			padding: 1rem;
		}
		/* More link */
		.more-link-wrap{
			display: block;
		}
		p .more-link-wrap{
			margin-top: 20px;
			margin-top: 2rem;
		}
		.more-link{
			display: inline-block;
			margin-bottom: 20px;
			margin-bottom: 2rem;
			border: 1px solid #ccc;
			padding: 4px 10px;
			padding: 0.4rem 1rem;
		}
		p .more-link{
			margin-bottom: 0;
		}
		.more-text:after{
			content: "\f345";
			font-family: "dashicons";
			vertical-align: top;
			margin-left: 10px;
			margin-left: 1rem;
			-webkit-font-smoothing: antialiased;
		}
		/* Page links */
		.wp-link-pages{
		}
		.wp-link-pages .page-numbers,
		.wp-link-pages a{
			color: #ccc;
			padding: 5px 10px;
			padding: 0.5rem 1rem;
			border: 1px solid #eee;
		}
		.wp-link-pages a{
			color: #444;
			border: 1px solid #ccc;
		}
		.wp-link-pages a:hover,
		.wp-link-pages a:focus{
			border: 1px solid #aaa;
		}
/* Entry Footer */
	.entry-footer{
	}
		.post-edit-link{
		}
		.post-edit-link:before{
			content: "\f464";
			font-family: "dashicons";
			vertical-align: top;
			-webkit-font-smoothing: antialiased;
		}
		.post-edit-link:after{
			content:".";display:block;height:0;clear:both;visibility:hidden;
		}
		.entry-meta{
		}
			.entry-meta .entry-terms{
				display: block;
			}
				.entry-meta .entry-terms a{
				}


/* Clear */
.singular .entry-header:after,
.singular .entry-content:after,
.singular .entry-footer:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}


/* === #11 - LOOP NAV === */
.loop-nav{
	margin-bottom: 20px;
	margin-bottom: 2rem;
	padding: 10px;
	padding: 1rem;
	border: 1px solid #ccc;
	background: #fff;
}
.loop-nav:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
	.loop-nav .screen-reader-text{
	}
	.loop-nav .prev{
		padding-left: 30px;
		padding-left: 3rem;
		width: 45%;
		float: left;
		text-align: left;
		position: relative;
	}
	.loop-nav .next{
		padding-right: 30px;
		padding-right: 3rem;
		width: 45%;
		float: right;
		text-align: right;
		position: relative;
	}
		.loop-nav .prev a:before{
			content: "\f340";
			font-family: "dashicons";
			vertical-align: top;
			-webkit-font-smoothing: antialiased;
			position: absolute;
			top: 0;
			left: 0;
		}
		.loop-nav .next a:after{
			content: "\f344";
			font-family: "dashicons";
			vertical-align: top;
			-webkit-font-smoothing: antialiased;
			position: absolute;
			top: 0;
			right: 0;
		}



/* === LOOP PAGINATION === */
.loop-pagination{
	margin: 0 20px 25px 0;
	margin: 0 2rem 2.5rem 0;
}
.loop-pagination:before,
.loop-pagination:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
	.loop-pagination .screen-reader-text{
	}
	.loop-pagination .page-numbers{
		color: #444;
		background: #fff;
		border: 1px solid #ccc;
		padding: 5px 10px;
		padding: 0.5rem 1rem;
	}
	.loop-pagination a.page-numbers:hover,
	.loop-pagination a.page-numbers:focus{
		border: 1px solid #aaa;
	}
	.loop-pagination .page-numbers.current{
		color: #ccc;
		border: 1px solid #eee;
	}
	.loop-pagination .page-numbers.dots{
		color: #ccc;
		border: 1px solid #eee;
	}
	.loop-pagination .page-numbers.prev{
	}
	.loop-pagination .page-numbers.next{
	}
	.loop-pagination .page-numbers.prev:before{
		content: "\f340";
		font-family: "dashicons";
		vertical-align: top;
		-webkit-font-smoothing: antialiased;
	}
	.loop-pagination .page-numbers.next:after{
		content: "\f344";
		font-family: "dashicons";
		vertical-align: top;
		-webkit-font-smoothing: antialiased;
	}


/* === FOOTER === */
#footer{
	padding: 20px;
	padding: 2rem;
	border-top: 1px solid #ccc;
	width: 100%;
	clear: both;
}
	#footer p{
		margin-bottom: 0;
	}
	/* Footer Menu */
	span#footer-links a:before{
		content: " | ";
		color: #ccc;
	}


