.tmb-radio-image-item{
	display: block;
	float: left;
	margin: 10px 20px 0 0;
	padding: 0;
}
.tmb-radio-image-item:hover{
	opacity: 0.8;
}
.tmb-radio-image-item img{
	width: 100%;
	height: auto;
	border: 5px solid #ccc;
}
.tmb-radio-image-item.item-selected img{
	border: 5px solid #298cba;
}
.tmb-radio-image-item input{
	display: none !important;
}
