/**
 * Comments
 */

#comments-template {
	margin-bottom: 20px;
	margin-bottom: 2rem;
}
	#comments {
	}
	.comments-header {
		margin-bottom: 20px;
		margin-bottom: 2rem;
		border: 1px solid #ccc;
	}
	.comments-header:after {
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}
		.comments-nav {
			float: right;
			line-height: 20px;
			line-height: 2rem;
			padding: 20px;
			padding: 2rem;
			margin: 0;
		}
			.rtl .comments-nav {
				float: left;
			}
			.comments-nav a {
			}
				.comments-nav .prev-comments {
				}
				.comments-nav .prev-comments:before {
					content: "\f340";
					font-family: "esicons";
					vertical-align: top;
					-webkit-font-smoothing: antialiased;
				}
					.rtl .comments-nav .prev-comments:before {
						display: none;
					}
					.rtl .comments-nav .prev-comments:after {
						content: "\f344";
						font-family: "esicons";
						vertical-align: top;
						-webkit-font-smoothing: antialiased;
						margin-right: 10px;
						margin-right: 1rem;
					}
				.comments-nav .next-comments {
				}
				.comments-nav .next-comments:after {
					content: "\f344";
					font-family: "esicons";
					vertical-align: top;
					-webkit-font-smoothing: antialiased;
					margin-left: 10px;
					margin-left: 1rem;
				}
					.rtl .comments-nav .next-comments:after {
						display: none;
					}
					.rtl .comments-nav .next-comments:before {
						content: "\f340";
						font-family: "esicons";
						vertical-align: top;
						-webkit-font-smoothing: antialiased;
					}
				.comments-nav .prev-comments .screen-reader-text,
				.comments-nav .next-comments .screen-reader-text {
				}
			.comments-nav .page-numbers {
			}
		#comments-number {
			font-size: 20px;
			font-size: 2rem;
			font-weight: 600;
			line-height: 1em;
			padding: 20px;
			padding: 2rem;
			margin: 0;
		}
		#comments-number:before {
			content: "\f125";
			font-family: "esicons";
			font-weight: 400;
			margin-right: 5px;
			color: #ccc;
			vertical-align: top;
			-webkit-font-smoothing: antialiased;
		}
			.rtl #comments-number:before {
				display: none;
			}
			.rtl #comments-number:after {
				content: "\f125";
				font-family: "esicons";
				font-weight: 400;
				margin-left: 5px;
				color: #ccc;
				vertical-align: top;
				-webkit-font-smoothing: antialiased;
			}
	.comment-list {
		list-style: none;
		margin: 0;
	}
		.rtl .comment-list {
			margin: 0;
		}
		.comment-list .children {
			list-style: none;
			margin: 0 0 0 10px;
			margin: 0 0 0 1rem;
		}
			.rtl .comment-list .children {
				margin: 0 10px 0 0;
				margin: 0 1rem 0 0;
			}
		/* Comment */
		.comment {
		}
		.comment.bypostauthor {
		}
			.comment-wrap {
				border: 1px solid #ccc;
				margin-bottom: 20px;
				margin-bottom: 2rem;
				background: #fff;
			}
			.comment-wrap:after {
				content:".";display:block;height:0;clear:both;visibility:hidden;
			}
				.comment-parent {
					font-size: 14px;
					display: none; /* only display in mobile */
				}
				.comment-parent-link:before {
					content: "\f141";
					font-family: "esicons";
					vertical-align: top;
					-webkit-font-smoothing: antialiased;
				}
				.comment-meta {
					border-bottom: 1px solid #ccc;
				}
				.comment-meta:after {
					content:".";display:block;height:0;clear:both;visibility:hidden;
				}
					.comment-meta .avatar {
						display: block;
						float: left;
						padding: 10px;
						padding: 1rem;
						width: 100px;
						border: 1px solid #ccc;
						margin: -1px 0 -1px -1px;
					}
						.rtl .comment-meta .avatar {
							float: right;
							margin: -1px -1px -1px 0;
						}
					.comment-meta > .wrap {
						float: left;
						padding: 20px;
					}
						.rtl .comment-meta > .wrap {
							float: right;
						}
						.comment-byline {
							
						}
							.comment-author {
								color:#444;
								font-style: normal;
								font-weight: 700;
							}
							.comment-published {
								color: #444;
							}
								.comment-published:before {
								}
							.comment-permalink { 
							}
							.comment-permalink:before {
								content: "\f469";
								font-family: "esicons";
								vertical-align: top;
								color: #444;
								margin-right: 5px;
								-webkit-font-smoothing: antialiased;
							}
							.comment-edit-link {
								margin-left: 10px;
							}
								.rtl .comment-edit-link {
									margin-left: 0;
									margin-right: 10px;
								}
							.comment-edit-link:before {
								content: "\f464";
								font-family: "esicons";
								vertical-align: top;
								margin-right: 5px;
								color: #444;
								-webkit-font-smoothing: antialiased;
							}
								.rtl .comment-edit-link:before {
									display: none;
								}
								.rtl .comment-edit-link:before {
									margin-left: 5px;
								}
				.comment-content {
					padding: 20px;
					padding: 2rem;
					padding-bottom: 0;
				}
					.comment-awaiting-moderation {
						background: #ebebeb;
						padding: 10px;
						padding: 1rem;
					}
					.comment-content p {
					}
				.comment-reply-link {
					float: right;
					padding: 10px 20px;
					padding: 1rem 2rem;
					border-top: 1px solid #ccc;
					border-left: 1px solid #ccc;
				}
					.rtl .comment-reply-link {
						float: left;
						border-left: 0;
						border-right: 1px solid #ccc;
					}
		/* Pingback */
		.pingback {
		}
			.pingback .comment-meta {
				border: none;
			}
				.pingback .comment-author {
				}
					.pingback .comment-author a {
						color: #444;
					}
					.pingback .comment-author a:hover,
					.pingback .comment-author a:focus {
						color: #21759B;
					}
				.pingback .comment-published {
					color: #444;
				}
				.pingback .comment-permalink {
				}
				.pingback .comment-edit-link {
				}
		
	#respond {
		background: #fff;
		margin-bottom: 20px;
		margin-bottom: 2rem;
		border: 1px solid #ccc;
	}
	#respond:after {
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}
	.comment-list #respond {
		margin-left: 10px;
		margin-left: 1rem;
	}
		.rtl .comment-list #respond {
			margin-left: 0;
			margin-right: 10px;
			margin-right: 1rem;
		}
		#reply-title {
			font-size: 20px;
			font-size: 2rem;
			font-weight: 600;
			line-height: 1em;
			padding: 20px;
			padding: 2rem;
			margin: 0;
			border-bottom: 1px solid #ccc;
		}
			#cancel-comment-reply-link {
				font-size: 20px;
				font-size: 2rem;
				float: right;
				font-weight: 400;
			}
				.rtl #cancel-comment-reply-link {
					float: left;
				}
			#cancel-comment-reply-link:after {
				content: "\f158";
				font-family: "esicons";
				vertical-align: top;
				-webkit-font-smoothing: antialiased;
			}
			#cancel-comment-reply-link span {
				position: absolute;
				left: -9999px;
				top: -9999px;
			}
		#commentform {
			padding: 20px;
			padding: 2rem;
		}
			#commentform p {
				margin-bottom: 0;
			}
			#commentform .required {
				color: #ff0000;
			}
			#commentform label {
				padding: 5px 10px;
				display: block;
				float: left;
			}
				.rtl #commentform label {
					float: right;
				}

			#commentform .logged-in-as {
				margin-bottom: 20px;
				margin-bottom: 2rem;
			}
			#commentform .comment-notes {
				margin-bottom: 20px;
				margin-bottom: 2rem;
			}

			/* == Form input == */

			/* Comment */
			#commentform .comment-form-comment {
				float: none;
				width: 100%;
				clear: both;
			}
			#commentform label[for="comment"]:before {
				content: "\f464";
				font-family: "esicons";
				vertical-align: top;
				margin-right: 5px;
				-webkit-font-smoothing: antialiased;
			}
				.rtl #commentform label[for="comment"]:before {
					display: none;
				}
				.rtl #commentform label[for="comment"]:after {
					content: "\f464";
					font-family: "esicons";
					vertical-align: top;
					margin-left: 5px;
					-webkit-font-smoothing: antialiased;
				}
			#commentform #comment {
				height: 150px;
			}

			/* Author */
			#commentform .comment-form-author {
				width: 30%;
				margin-right: 5%;
				float: left;
			}
				.rtl #commentform .comment-form-author {
					margin-right: 0;
					margin-left: 5%;
					float: right;
				}
			#commentform label[for="author"]:before {
				content: "\f110";
				font-family: "esicons";
				vertical-align: top;
				margin-right: 5px;
				-webkit-font-smoothing: antialiased;
			}
				.rtl #commentform label[for="author"]:before {
					display: none;
				}
				.rtl #commentform label[for="author"]:after {
					content: "\f110";
					font-family: "esicons";
					vertical-align: top;
					margin-left: 5px;
					-webkit-font-smoothing: antialiased;
				}
			#commentform #author {
			}

			/* Email */
			#commentform .comment-form-email {
				width: 30%;
				margin-right: 5%;
				float: left;
			}
				.rtl #commentform .comment-form-email {
					margin-right: 0;
					margin-left: 5%;
					float: right;
				}
			#commentform label[for="email"]:before {
				content: "\f466";
				font-family: "esicons";
				vertical-align: top;
				margin-right: 5px;
				-webkit-font-smoothing: antialiased;
			}
				.rtl #commentform label[for="email"]:before {
					display: none;
				}
				.rtl #commentform label[for="email"]:after {
					content: "\f466";
					font-family: "esicons";
					vertical-align: top;
					margin-left: 5px;
					-webkit-font-smoothing: antialiased;
				}
			#commentform #email {
			}

			/* Website */
			#commentform .comment-form-url {
				width: 30%;
				float: left;
			}
				.rtl #commentform .comment-form-url {
					float: right;
				}
			#commentform label[for="url"]:before {
				content: "\f319";
				font-family: "esicons";
				vertical-align: top;
				margin-right: 5px;
				-webkit-font-smoothing: antialiased;
			}
				.rtl #commentform label[for="url"]:before {
					display: none;
				}
				.rtl #commentform label[for="url"]:after {
					content: "\f319";
					font-family: "esicons";
					vertical-align: top;
					margin-left: 5px;
					-webkit-font-smoothing: antialiased;
				}
			#commentform .comment-form-url:after {
				content:".";display:block;height:0;clear:both;visibility:hidden;
			}
			#commentform #url {
			}

			/* Clear */
			#respond .comment-form-comment:before,
			#respond .comment-form-comment:after {
				content:".";display:block;height:0;clear:both;visibility:hidden;
			}

			/* Allowed Tags */
			#commentform .form-allowed-tags {
				display: none;
			}
			#commentform .form-allowed-tags code {
				display: block;
				padding: 10px;
				padding: 1rem;
			}
			#commentform .form-submit {
			}
			#commentform .form-submit:after {
				content:".";display:block;height:0;clear:both;visibility:hidden;
			}
				#commentform #submit {
					float: right;
					margin-bottom: 0;
					margin-top: 20px;
					margin-top: 2rem;
				}
					.rtl #commentform #submit {
						float: left;
					}
/* Closed Comments */
.comments-closed {
	background: #eee;
	padding: 20px;
	padding: 2rem;
	margin-bottom: 20px;
	margin-bottom: 2rem;
}
.comments-closed.pings-open {
}

@media screen and ( max-width: 700px ) {
	/* Display only one level */
	.comment-parent {
		display: block;
	}
	.comment-list .children .children {
		margin-left: 0;
	}
	/* Respond form */
	#respond .comment-form-author,
	#respond .comment-form-email,
	#respond .comment-form-url {
		width: 100%;
		margin-right: 0;
		float: none;
	}
	#respond #submit {
		float: none;
		width: 100%;
	}
}
