
/* Right Sidebar */
.layout-content-sidebar1 #main > .wrap{
	margin-right: 320px;
	margin-right: 32rem;
}
.layout-content-sidebar1 #content{
	float: left;
}
.layout-content-sidebar1 #sidebar-primary{
	float: right;
	margin-right: -320px;
	margin-right: -32rem;
}

/* Left Sidebar */
.layout-sidebar1-content #main > .wrap{
	margin-left: 320px;
	margin-left: 32rem;
}
.layout-sidebar1-content #content{
	float: right;
}
.layout-sidebar1-content #sidebar-primary{
	float: left;
	margin-left: -320px;
	margin-left: -32rem;
}


@media screen and (max-width: 900px){
	/* Push primary sidebar to bottom */
	.wordpress #main > .wrap,
	.rtl .wordpress #main > .wrap{
		margin-right: 0;
		margin-left: 0;
	}
	.wordpress #content,
	.rtl .wordpress #content{
		float: none;
	}
	.wordpress #sidebar-primary,
	.rtl .wordpress #sidebar-primary{
		margin-right: 0;
		margin-left: 0;
		float: left;
		width: 100%;
	}
	/* 580px Content Width */
	#container{
		max-width: 660px;
	}
}
@media screen and (max-width: 660px){
	/* Full width container */
	#container,
	.rtl #container{
		width: 100%;
		clear: both;
		max-width: 100%;
		margin: 0 auto;
		border: none;
	}

	/* Header: Social Icons */
	#branding,
	.rtl #branding{
		float: none;
		width: 100%;
		margin-bottom: 20px;
		margin-bottom: 2rem;
		text-align: center;
	}
	.rtl #social-links,
	#social-links{
		float: none;
		margin: 0 auto;
		text-align: center;
	}
	#social-links li,
	.rtl #social-links li,
	#social-links li a,
	.rtl #social-links li a{
		float: none;
		margin-right: 0;
		display: inline-block;
	}
}
