/**
 * Pagination
 */

.navigation.pagination {

	&:before,
	&:after {
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}

	.screen-reader-text {
	}
	.page-numbers {
		line-height: 1;
		padding: 10px 14px;
		padding: 1rem 1.4rem;
		display: block;
		float: left;
		background: #fff;
		border: 1px solid #ccc;
		margin: 0 10px 20px 0;
		margin: 0 1rem 2rem 0;

		.rtl & {
			float: right;
			margin: 0 0 20px 10px;
			margin: 0 0 2rem 1rem;
		}

		&.current {
			color: #ccc;
			border: 1px solid #eee;
		}
		&.dots {
			color: #ccc;
			border: 1px solid #eee;
		}

		&.prev {

			&:before {
				content: "\f340";
				font-family: "esicons";
				vertical-align: top;
				-webkit-font-smoothing: antialiased;

				.rtl & {
					content: "\f344";
				}
			}
		}

		&.next {

			&:after {
				content: "\f344";
				font-family: "esicons";
				vertical-align: top;
				-webkit-font-smoothing: antialiased;

				.rtl & {
					content: "\f340";
				}
			}
		}
	}
}

