.entry{
	padding: 20px;
	padding: 2rem;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	margin-bottom: 2rem;
}
.entry:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
/* Entry Wrap */
.entry > .wrap{
}
	/* Entry Header */
	.entry-header{
	}
		/* Entry Title */
		.entry-title{
			font-size: 25px;
			font-size: 2.5rem;
			line-height: 1.2em;
			font-weight: 400;
			margin: 0 0 20px 0;
			margin: 0 0 2rem 0;
		}
		.sticky .entry-title:before{
			content: "\f537";
			font-family: "esicons";
			vertical-align: top;
			-webkit-font-smoothing: antialiased;
		}
			.rtl .sticky .entry-title:before{
				display: none;
			}
			.rtl .sticky .entry-title:after{
				content: "\f537";
				font-family: "esicons";
				vertical-align: top;
				-webkit-font-smoothing: antialiased;
			}
		/* Byline */
		.entry-byline{
			margin-bottom: 20px;
			margin-bottom: 2rem;
		}
		.entry-byline:after{
			content:".";display:block;height:0;clear:both;visibility:hidden;
		}
			.entry-byline a{
				
			}
			.entry-byline a:hover,
			.entry-byline a:focus{
				
			}
			.entry-author{
				display: block;
				margin-right: 10px;
				float: left;
			}
				.rtl .entry-author{
					margin-right: 0;
					margin-left: 10px;
					float: right;
				}
			.entry-author:before{
				content: "\f110";
				font-family: "esicons";
				vertical-align: top;
				margin-right: 5px;
				-webkit-font-smoothing: antialiased;
			}
				.rtl .entry-author:before{
					display: none;
				}
				.rtl .entry-author:after{
					content: "\f110";
					font-family: "esicons";
					vertical-align: top;
					margin-right: 0;
					margin-left: 5px;
					-webkit-font-smoothing: antialiased;
				}
			.entry-date{
				display: block;
				margin-right: 10px;
				float: left;
			}
				.rtl .entry-date{
					margin-right: 0;
					margin-left: 10px;
					float: right;
				}
			.entry-date .updated:not(.published){
				display: none;
			}
			.entry-date .published:before{
				content: "\f145";
				font-family: "esicons";
				vertical-align: top;
				margin-right: 5px;
				color: #444;
				-webkit-font-smoothing: antialiased;
			}
				.rtl .entry-date .published:before{
					content: "";
					display: none;
				}
				.rtl .entry-date .published:after{
					content: "\f145";
					font-family: "esicons";
					vertical-align: top;
					margin-right: 0;
					margin-left: 5px;
					color: #444;
					-webkit-font-smoothing: antialiased;
				}
			.comments-link{
				display: block;
				margin-right: 10px;
				float: left;
			}
				.rtl .comments-link{
					margin-right: 0;
					margin-left: 10px;
					float: right;
				}
			.comments-link:empty{
				display: none;
			}
			.comments-link:before{
				content: "\f101";
				font-family: "esicons";
				vertical-align: top;
				margin-right: 5px;
				color: #444;
				-webkit-font-smoothing: antialiased;
			}
				.rtl .comments-link:before{
					display: none;
				}
				.rtl .comments-link:after{
					content: "\f101";
					font-family: "esicons";
					vertical-align: top;
					margin-right: 0;
					margin-left: 5px;
					color: #444;
					-webkit-font-smoothing: antialiased;
				}
				.comments-link:before{
					margin-right: 0;
					margin-left: 5px;
					color: #444;
				}
			.comments-link:after{
				
			}
			.entry-permalink:before{
				
			}
	/* Entry Content, Entry Summary */
	.entry-content,
	.entry-summary{
	}
	.entry-content{
	}
	.entry-summary{
	}
	.entry-summary:after,
	.entry-content:after{
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}
		/* Thumbnail */
		.entry-summary .theme-thumbnail-link{
			float: right;
			margin: 0 0 20px 20px;
			margin: 0 0 2rem 2rem;
		}
			.rtl .entry-summary .theme-thumbnail-link{
				float: left;
				margin: 0 20px 20px 0;
				margin: 0 2rem 2rem 0;
			}
		/* More link */
		.more-link-wrap{
			display: block;
			margin-bottom: 20px;
			margin-bottom: 2rem;
		}
		.more-link-wrap:after{
			content:".";display:block;height:0;clear:both;visibility:hidden;
		}
		p .more-link-wrap{
		}
		.more-link{
			display: block;
			float: left;
		}
			.rtl .more-link{
				float: right;
			}
		p .more-link{
			margin-bottom: 0;
		}
		.more-text:after{
			content: "\f345";
			font-family: "esicons";
			vertical-align: top;
			margin-left: 5px;
			margin-left: 0.5rem;
			-webkit-font-smoothing: antialiased;
		}
			.more-text:after{
				display: none;
			}
			.more-text:before{
				content: "\f341";
				font-family: "esicons";
				vertical-align: top;
				margin-right: 5px;
				margin-right: 0.5rem;
				-webkit-font-smoothing: antialiased;
			}
		/* Page links */
		.wp-link-pages{
			margin: 0;
		}
		.wp-link-pages:after{
			content:".";display:block;height:0;clear:both;visibility:hidden;
		}
		.wp-link-pages .page-numbers,
		.wp-link-pages a{
			line-height: 1;
			padding: 10px 14px;
			padding: 1rem 1.4rem;
			display: block;
			float: left;
			background: #fff;
			border: 1px solid #ccc;
			margin: 0 10px 20px 0;
			margin: 0 1rem 2rem 0;
		}
			.rtl .wp-link-pages .page-numbers,
			.rtl .wp-link-pages a{
				float: right;
				margin: 0 0 20px 10px;
				margin: 0 0 2rem 1rem;
			}
		.wp-link-pages a{
			border: 1px solid #ccc;
		}
		.wp-link-pages a:hover,
		.wp-link-pages a:focus{
			border: 1px solid #aaa;
		}
	/* Entry Footer */
	.entry-footer{
	}
		.post-edit-link{
			display: inline-block;
		}
		.post-edit-link:before{
			content: "\f464";
			font-family: "esicons";
			vertical-align: top;
			color: #444;
			margin-right: 9px;
			margin-right: 0.9rem;
			-webkit-font-smoothing: antialiased;
		}
			.rtl .post-edit-link:before{
				display: none;
			}
			.rtl .post-edit-link:after{
				content: "\f464";
				font-family: "esicons";
				vertical-align: top;
				color: #444;
				margin-right: 0;
				margin-left: 9px;
				margin-left: 0.9rem;
			-webkit-font-smoothing: antialiased;
			}
		.post-edit-link-text{
		}
		.entry-taxonomies{
		}
		.entry-taxonomies:after{
			content:".";display:block;height:0;clear:both;visibility:hidden;
		}
			.entry-taxonomy{
				display: block;
			}
			.entry-taxonomy.category{
			}
				.entry-taxonomy-text{
				}
				.entry-taxonomy a{
				}

			.entry-taxonomy.category .entry-taxonomy-text,
			.entry-taxonomy.post_tag .entry-taxonomy-text{
				position: absolute;
				left: -9999em;
				top: -9999em;
			}
				.rtl .entry-taxonomy.category .entry-taxonomy-text,
				.rtl .entry-taxonomy.post_tag .entry-taxonomy-text{
					left: auto;
					right: -9999em;
				}
			.entry-taxonomy.category:before{
				content: "\f318";
				font-family: "esicons";
				vertical-align: top;
				margin-right: 5px;
				margin-right: 0.5rem;
				-webkit-font-smoothing: antialiased;
			}
				.rtl .entry-taxonomy.category:before{
					display: none;
				}
				.rtl .entry-taxonomy.category:after{
					content: "\f318";
					font-family: "esicons";
					vertical-align: top;
					margin-left: 5px;
					margin-left: 0.5rem;
					-webkit-font-smoothing: antialiased;
				}
			.entry-taxonomy.post_tag:before{
				content: "\f323";
				font-family: "esicons";
				vertical-align: top;
				margin-right: 5px;
				margin-right: 0.5rem;
				-webkit-font-smoothing: antialiased;
			}
				.rtl .entry-taxonomy.post_tag:before{
					display: none;
				}
				.rtl .entry-taxonomy.post_tag:after{
					content: "\f323";
					font-family: "esicons";
					vertical-align: top;
					margin-left: 5px;
					margin-left: 0.5rem;
					-webkit-font-smoothing: antialiased;
				}


/* Clear */
.singular .entry-header:after,
.singular .entry-content:after,
.singular .entry-footer:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}


/* === ENTRY === */
@media screen and (max-width: 450px) {
	.entry-content .alignleft,
	.entry-content .alignright{
		max-width: 50%;
	}
}
