.widget{
	padding: 20px;
	padding: 2rem;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	margin-bottom: 2rem;
}
	.widget-title{
		font-size: 17px;
		font-size: 1.7rem;
		line-height: 1em;
		padding: 16px 20px;
		padding: 1.6rem 2rem;
		margin: -20px -20px 20px -20px;
		border-bottom: 1px solid #ccc;
	}

/* Widget Archives */
.widget_archive ul{
	list-style: none;
	margin: 0;
}
.widget_archive ul li{
	position: relative;
	padding-left: 20px;
	padding-left: 2rem;
}
	.rtl .widget_archive ul li{
		position: relative;
		padding-left: 0;
		padding-right: 20px;
		padding-right: 2rem;
	}
.widget_archive ul li:before{
	content: '\f428';
	margin-right: 5px;
	font-family: "esicons";
	vertical-align: top;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-font-smoothing: antialiased;
}
	.rtl .widget_archive ul li:before{
		left: auto;
		right: 0;
	}

/* Widget Calendar */
#wp-calendar{
	line-height: 1em;
}
#wp-calendar td,
#wp-calendar th{
	padding: 5px;
}
#wp-calendar,
#wp-calendar th,
#wp-calendar tr,
#wp-calendar td{
	text-align: center;
}

/* Widget Categories */
.widget_categories ul{
	list-style: none;
	margin: 0;
}
.widget_categories ul li{
	position: relative;
	padding-left: 20px;
	padding-left: 2rem;
}
	.rtl .widget_categories ul li{
		padding-left: 0;
		padding-right: 20px;
		padding-right: 2rem;
	}
.widget_categories ul li:before{
	content: '\f428';
	margin-right: 5px;
	font-family: "esicons";
	vertical-align: top;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-font-smoothing: antialiased;
}
	.rtl .widget_categories ul li:before{
		left: auto;
		right: 0;
	}

/* Widget Custom Menus */
.widget_nav_menu ul{
	list-style: none;
	margin: 0;
}
.widget_nav_menu ul li{
	position: relative;
	padding-left: 20px;
	padding-left: 2rem;
}
	.rtl .widget_nav_menu ul li{
		padding-left: 0;
		padding-right: 20px;
		padding-right: 2rem;
	}
.widget_nav_menu ul li:before{
	content: '\f428';
	margin-right: 5px;
	font-family: "esicons";
	vertical-align: top;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-font-smoothing: antialiased;
}
	.rtl .widget_nav_menu ul li:before{
		left: auto;
		right: 0;
	}

/* Widget Meta */
.widget_meta ul{
	list-style: none;
	margin: 0;
}
.widget_meta ul li{
	position: relative;
	padding-left: 20px;
	padding-left: 2rem;
}
	.rtl .widget_meta ul li{
		padding-left: 0;
		padding-right: 20px;
		padding-right: 2rem;
	}
.widget_meta ul li:before{
	content: '\f428';
	margin-right: 5px;
	font-family: "esicons";
	vertical-align: top;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-font-smoothing: antialiased;
}
	.rtl .widget_meta ul li:before{
		left: auto;
		right: 0;
	}

/* Widget Pages */
.widget_pages ul{
	list-style: none;
	margin: 0;
}
.widget_pages ul li{
	position: relative;
	padding-left: 20px;
	padding-left: 2rem;
}
	.rtl .widget_pages ul li{
		padding-left: 0;
		padding-right: 20px;
		padding-right: 2rem;
	}
.widget_pages ul li:before{
	content: '\f428';
	margin-right: 5px;
	font-family: "esicons";
	vertical-align: top;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-font-smoothing: antialiased;
}
	.rtl .widget_pages ul li:before{
		left: auto;
		right: 0;
	}

/* Widget Recent Comments */
.widget_recent_comments ul{
	list-style: none;
	margin: 0;
}
.widget_recent_comments li.recentcomments{
	margin-bottom: 10px;
	margin-bottom: 1rem;
}

/* Widget Recent Posts */
.widget_recent_entries ul{
	list-style: none;
	margin: 0;
}
.widget_recent_entries li{
	margin-bottom: 10px;
	margin-bottom: 1rem;
}
.widget_recent_entries li a{
}
.widget_recent_entries .post-date{
	display: block;
}
.widget_recent_entries .post-date:before{
	content: "\f145";
	font-family: "esicons";
	vertical-align: top;
	margin-right: 5px;
	-webkit-font-smoothing: antialiased;
}
	.rtl .widget_recent_entries .post-date:before{
		display: none;
	}
	.rtl .widget_recent_entries .post-date:after{
		content: "\f145";
		font-family: "esicons";
		vertical-align: top;
		margin-left: 5px;
		-webkit-font-smoothing: antialiased;
	}

/* Widget RSS */
.widget_rss ul{
	list-style: none;
	margin: 0;
}
.widget_rss li{
	margin-bottom: 10px;
	margin-bottom: 1rem;
}
.widget_rss .rss-date{
	display: block;
}
.widget_rss .rss-date:before{
	content: "\f145";
	font-family: "esicons";
	vertical-align: top;
	margin-right: 5px;
	-webkit-font-smoothing: antialiased;
}
	.rtl .widget_rss .rss-date:before{
		display: none;
	}
	.rtl .widget_rss .rss-date:after{
		content: "\f145";
		font-family: "esicons";
		vertical-align: top;
		margin-left: 5px;
		-webkit-font-smoothing: antialiased;
	}
.widget_rss .widget-title .rsswidget:first-child{
	display: none;
}
.widget_rss .widget-title .rsswidget{
}
.widget_rss cite{
}

/* Widget Search */
.widget_search .search-submit{
	display: none;
}
.widget_search .search-field{
	margin: 0;
}

/* Widget Tag Cloud */
.widget_tag_cloud:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
.tagcloud a{
	font-size: 17px !important;
	font-size: 1.7rem !important;
	display: block;
	float: left;
	padding: 5px 10px;
	padding: 0.5rem 1rem;
	margin: 0 10px 10px 0;
	margin: 0 1rem 1rem 0;
	color: #444;
	background: #eee;
}
	.rtl .tagcloud a{
		float: right;
		margin: 0 0 10px 10px;
		margin: 0 0 1rem 1rem;
	}
.tagcloud a:hover,
.tagcloud a:focus{
	color: #000;
	background: #ddd;
}

/* Widget Text */
.widget_text{
}
.textwidget{
}
