/* === LAYOUTS === */
#container{
	width: 1200px;
	margin: 20px auto;
	margin: 2rem auto;
}

/* Layout Default: "sidebar2-content-sidebar1" */
#container > .wrap{
	padding: 20px;
	padding: 2rem;
	padding-right: 0;
}
	#container > .wrap:after{
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}
#main{
	float: right;
	padding-left: 200px;
	padding-left: 20rem;
	width: 100%;
}
#main > .wrap{
	float: none;
	margin-right: 340px;
	margin-right: 34rem;
}
	#main > .wrap:after{
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}
#content > .wrap{
	padding-right: 20px;
	padding-right: 2rem;
}
#content{
	width: 100%;
	float: left;
}
#sidebar-primary{
	float: right;
	margin-right: -320px;
	margin-right: -32rem;
	width: 320px;
	width: 32rem;
	max-width: 100%;
}
#sidebar-secondary{
	width: 180px;
	width: 18rem;
	margin-right: -180px;
	margin-right: -18rem;
	float: left;
	position: relative;
}

/* Layout "content" */
.layout-content #main > .wrap{
	float: none;
	margin-right: 0;
}
.layout-content #main{
	float: none;
	padding-left: 0;
}
/* Layout: "content-sidebar1" */
.layout-content-sidebar1 #main{
	padding-left: 0;
	width: 100%;
}
/* Layout: "sidebar1-content" */
.layout-sidebar1-content #main{
	padding-left: 0;
	float: none;
	width: 100%;
}
.layout-sidebar1-content #main > .wrap{
	margin-right: 0;
	margin-left: 340px;
	margin-left: 34rem;
}
.layout-sidebar1-content #content{
	float: right;
}
.layout-sidebar1-content #sidebar-primary{
	float: left;
	margin-right: 0;
	margin-left: -340px;
	margin-left: -34rem;
}
/* Layout: "sidebar2-content" */
.layout-sidebar2-content #main > .wrap{
	margin-right: 0;
}
/* Layout: "content-sidebar2" */
.layout-content-sidebar2 #main{
	float: left;
	padding-left: 0;
	padding-right: 200px;
	padding-right: 20rem;
}
.layout-content-sidebar2 #main > .wrap{
	margin-right: 0;
}
.layout-content-sidebar2 #sidebar-secondary{
	margin-right: 20px;
	margin-right: 2rem;
	margin-left: -200px;
	margin-left: -20rem;
	float: right;
}
/* Layout: "sidebar2-sidebar1-content" */
.layout-sidebar2-sidebar1-content #main > .wrap{
	margin-right: 0;
	margin-left: 340px;
	margin-left: 34rem;
}
.layout-sidebar2-sidebar1-content #content{
	float: right;
}
.layout-sidebar2-sidebar1-content #sidebar-primary{
	float: left;
	margin-right: 0;
	margin-left: -340px;
	margin-left: -34rem;
}
/* Layout: "content-sidebar1-sidebar2" */
.layout-content-sidebar1-sidebar2 #main{
	float: left;
	padding-left: 0;
	padding-right: 200px;
	padding-right: 20rem;
}
.layout-content-sidebar1-sidebar2 #sidebar-secondary{
	margin-right: 20px;
	margin-right: 2rem;
	margin-left: -200px;
	margin-left: -20rem;
	float: right;
}
/* Layout: "sidebar1-content-sidebar2" */
.layout-sidebar1-content-sidebar2 #main{
	float: left;
	padding-left: 0;
	padding-right: 200px;
	padding-right: 20rem;
}
.layout-sidebar1-content-sidebar2 #sidebar-secondary{
	margin-right: 20px;
	margin-right: 2rem;
	margin-left: -200px;
	margin-left: -20rem;
	float: right;
}
.layout-sidebar1-content-sidebar2 #main > .wrap{
	margin-right: 0;
	margin-left: 340px;
	margin-left: 34rem;
}
.layout-sidebar1-content-sidebar2 #content{
	float: right;
}
.layout-sidebar1-content-sidebar2 #sidebar-primary{
	float: left;
	margin-right: 0;
	margin-left: -340px;
	margin-left: -34rem;
}
