/* === BASE ===
*/
@import url("base/base.css");

/* === BASE MENUS ===
*/
@import url("base/menus.css");

/* === BASE SOCIAL MENUS ===
*/
@import url("base/social-menus.css");

/* === PLUGINS ===
@import url("plugins.css");
*/


/* === ELEMENTS === */
body{
	background: #efefef;
	font-size:1.7em; /* use em for default, chrome fix */
}

/* Link */
a{
	color: #0073aa;
}
a:hover,
a:focus {
	color: #00a0d2;
}

/* List */
ul{
	list-style: circle;
}

/* Blockquotes */
blockquote{
	position: relative;
	padding: 0 0 0 50px;
	padding: 0 0 0 5rem;
	font-size: 20px;
	font-size: 2rem;
	line-height: 1.7em;
}
	.rtl blockquote{
		padding: 0 50px 0 0;
		padding: 0 5rem 0 0;
	}
q{
	position: relative;
	padding: 0 0 0 20px;
	padding: 0 0 0 2rem;
}
	.rtl q{
		padding: 0 50px 0 0;
		padding: 0 5rem 0 0;
	}
blockquote:before{
	content: "\f11a";
	font-family: "esicons";
	font-size: 40px;
	color: #ccc;
	position: absolute;
	left: 0;
	-webkit-font-smoothing: antialiased;
}
	.rtl blockquote:before{
		left: auto;
		right: 0;
	}
q:before{
	content: "\f11a";
	font-family: "esicons";
	color: #ccc;
	position: absolute;
	left: 0;
	-webkit-font-smoothing: antialiased;
}
	.rtl q:before{
		left: auto;
		right: 0;
	}

/* Forms */
label{
}
input[type="submit"],
input[type="button"],
input[type="reset"],
button,
.button{
	padding: 10px 20px;
}
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
button:hover,
button:focus,
.button:hover,
.button:focus{
}

/* Pre, Code */
pre{
	background-color: #eee;
}
code{
	background: #eee;
}

/* === IMAGES & MEDIA === */


/* === LAYOUTS === */

/* Right Sidebar */
.layout-content-sidebar1 #main > .wrap{
	margin-right: 320px;
	margin-right: 32rem;
}
.layout-content-sidebar1 #content{
	float: left;
}
.layout-content-sidebar1 #sidebar-primary{
	float: right;
	margin-right: -320px;
	margin-right: -32rem;
}

/* Left Sidebar */
.layout-sidebar1-content #main > .wrap{
	margin-left: 320px;
	margin-left: 32rem;
}
.layout-sidebar1-content #content{
	float: right;
}
.layout-sidebar1-content #sidebar-primary{
	float: left;
	margin-left: -320px;
	margin-left: -32rem;
}


/* === CONTAINER === */
#container{
	background: #fff;
	margin: 30px auto;
	margin: 3rem auto;
	width: 980px;
	max-width: 95%;
	border: 1px solid #ccc;
}

/* === HEADER === */
#header{
	padding: 20px;
	padding: 2rem;
}
#header:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
	#branding{
		float: left;
	}
		.rtl #branding{
			float: right;
		}
	#branding:after{
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}
		.site-title{
			font-size: 25px;
			font-size: 2.5rem;
			font-weight: 800;
			line-height: 1.2em;
			margin: 0;
		}
			.site-title a{
			}
			.site-title a:hover,
			.site-title a:focus{
			}
		.site-description{
			font-size: 17px;
			font-size: 1.7rem;
			font-weight: 400;
			line-height: 1.2em;
			margin: 0;
		}
	/* Logo */
	.wp-custom-logo{
	}
	.custom-logo-link{
		display: block;
		float: left;
	}
		.rtl .custom-logo-link{
			float: right;
		}
	.custom-logo{
		display: block;
	}

#social-links{
	float: right;
}

	.rtl #social-links{
		float: left;
	}


/* === MENUS === */

/* Primary Menu */
#menu-primary{
	
}
	#menu-primary .menu-container{
		
	}
		#menu-primary li a{
			
		}
		#menu-primary li a:hover,
		#menu-primary li a:focus{
			
		}
			#menu-primary li li a{
				
			}
			#menu-primary li li a:hover,
			#menu-primary li li a:focus{
				
			}
			#menu-primary .current-menu-item > a,
			#menu-primary .current-menu-ancestor > a{
				
			}
	/* Menu Search */
	#menu-primary .menu-search .search-toggle{
		
	}
	#menu-primary .menu-search .search-form{
		background: #fff;
	}
	#menu-primary .search-toggle-active.menu-search button{
		
	}


/* === CONTAINER WRAP === */
#container > .wrap{
	padding: 20px;
	padding: 2rem;
	padding-bottom: 0;
}

/* === MAIN === */
#main{
}
	#main:after{
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}
#main > .wrap{
}

/* === CONTENT === */
#content{
	width: 100%;
}
#content > .wrap{
}

/* === LOOP META === */
.archive-header{
	padding: 20px;
	padding: 2rem;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	margin-bottom: 2rem;
}
.archive-header:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
	.archive-title{
		font-size: 25px;
		font-size: 2.5rem;
		font-weight: 600;
		margin-bottom: 0;
	}
	.archive-description{
		margin-top: 20px;
		margin-top: 2rem;
	}
	.archive-description p{
		margin: 0;
	}


/* === ENTRY === */
.entry{
	padding: 20px;
	padding: 2rem;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	margin-bottom: 2rem;
}
.entry:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
/* Entry Wrap */
.entry > .wrap{
}
	/* Entry Header */
	.entry-header{
		margin-bottom: 20px;
		margin-bottom: 2rem;
	}
		/* Entry Title */
		.entry-title{
			font-size: 25px;
			font-size: 2.5rem;
			line-height: 1.2em;
			font-weight: 400;
			margin: 0 0 20px 0;
			margin: 0 0 2rem 0;
		}
		.sticky .entry-title:before{
			content: "\f537";
			font-family: "esicons";
			vertical-align: top;
			-webkit-font-smoothing: antialiased;
		}
			.rtl .sticky .entry-title:before{
				display: none;
			}
			.rtl .sticky .entry-title:after{
				content: "\f537";
				font-family: "esicons";
				vertical-align: top;
				-webkit-font-smoothing: antialiased;
			}
		/* Byline */
		.entry-byline{
		}
		.entry-byline:after{
			content:".";display:block;height:0;clear:both;visibility:hidden;
		}
			.entry-byline a{
				
			}
			.entry-byline a:hover,
			.entry-byline a:focus{
				
			}
			.entry-author{
				display: block;
				margin-right: 10px;
				float: left;
			}
				.rtl .entry-author{
					margin-right: 0;
					margin-left: 10px;
					float: right;
				}
			.entry-author:before{
				content: "\f110";
				font-family: "esicons";
				vertical-align: top;
				margin-right: 5px;
				-webkit-font-smoothing: antialiased;
			}
				.rtl .entry-author:before{
					display: none;
				}
				.rtl .entry-author:after{
					content: "\f110";
					font-family: "esicons";
					vertical-align: top;
					margin-right: 0;
					margin-left: 5px;
					-webkit-font-smoothing: antialiased;
				}
			.entry-date{
				display: block;
				margin-right: 10px;
				float: left;
			}
				.rtl .entry-date{
					margin-right: 0;
					margin-left: 10px;
					float: right;
				}
			.entry-date .updated:not(.published){
				display: none;
			}
			.entry-date .published:before{
				content: "\f145";
				font-family: "esicons";
				vertical-align: top;
				margin-right: 5px;
				color: #444;
				-webkit-font-smoothing: antialiased;
			}
				.rtl .entry-date .published:before{
					content: "";
					display: none;
				}
				.rtl .entry-date .published:after{
					content: "\f145";
					font-family: "esicons";
					vertical-align: top;
					margin-right: 0;
					margin-left: 5px;
					color: #444;
					-webkit-font-smoothing: antialiased;
				}
			.comments-link{
				display: block;
				margin-right: 10px;
				float: left;
			}
				.rtl .comments-link{
					margin-right: 0;
					margin-left: 10px;
					float: right;
				}
			.comments-link:empty{
				display: none;
			}
			.comments-link:before{
				content: "\f101";
				font-family: "esicons";
				vertical-align: top;
				margin-right: 5px;
				color: #444;
				-webkit-font-smoothing: antialiased;
			}
				.rtl .comments-link:before{
					display: none;
				}
				.rtl .comments-link:after{
					content: "\f101";
					font-family: "esicons";
					vertical-align: top;
					margin-right: 0;
					margin-left: 5px;
					color: #444;
					-webkit-font-smoothing: antialiased;
				}
				.comments-link:before{
					margin-right: 0;
					margin-left: 5px;
					color: #444;
				}
			.comments-link:after{
				
			}
			.entry-permalink:before{
				
			}
	/* Entry Content, Entry Summary */
	.entry-content,
	.entry-summary{
	}
	.entry-content{
	}
	.entry-summary{
	}
	.entry-summary:after,
	.entry-content:after{
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}
		/* Thumbnail */
		.entry-summary .theme-thumbnail-link{
			float: right;
			margin: 0 0 20px 20px;
			margin: 0 0 2rem 2rem;
		}
			.rtl .entry-summary .theme-thumbnail-link{
				float: left;
				margin: 0 20px 20px 0;
				margin: 0 2rem 2rem 0;
			}
		/* More link */
		.more-link-wrap{
			display: block;
			margin-bottom: 20px;
			margin-bottom: 2rem;
		}
		.more-link-wrap:after{
			content:".";display:block;height:0;clear:both;visibility:hidden;
		}
		p .more-link-wrap{
		}
		.more-link{
			display: block;
			float: left;
		}
			.rtl .more-link{
				float: right;
			}
		p .more-link{
			margin-bottom: 0;
		}
		.more-text:after{
			content: "\f345";
			font-family: "esicons";
			vertical-align: top;
			margin-left: 5px;
			margin-left: 0.5rem;
			-webkit-font-smoothing: antialiased;
		}
			.more-text:after{
				display: none;
			}
			.more-text:before{
				content: "\f341";
				font-family: "esicons";
				vertical-align: top;
				margin-right: 5px;
				margin-right: 0.5rem;
				-webkit-font-smoothing: antialiased;
			}
		/* Page links */
		.wp-link-pages{
			margin: 0;
		}
		.wp-link-pages:after{
			content:".";display:block;height:0;clear:both;visibility:hidden;
		}
		.wp-link-pages .page-numbers,
		.wp-link-pages a{
			line-height: 1;
			padding: 10px 14px;
			padding: 1rem 1.4rem;
			display: block;
			float: left;
			background: #fff;
			border: 1px solid #ccc;
			margin: 0 10px 20px 0;
			margin: 0 1rem 2rem 0;
		}
			.rtl .wp-link-pages .page-numbers,
			.rtl .wp-link-pages a{
				float: right;
				margin: 0 0 20px 10px;
				margin: 0 0 2rem 1rem;
			}
		.wp-link-pages a{
			border: 1px solid #ccc;
		}
		.wp-link-pages a:hover,
		.wp-link-pages a:focus{
			border: 1px solid #aaa;
		}
	/* Entry Footer */
	.entry-footer{
	}
		.post-edit-link{
			display: inline-block;
		}
		.post-edit-link:before{
			content: "\f464";
			font-family: "esicons";
			vertical-align: top;
			color: #444;
			margin-right: 9px;
			margin-right: 0.9rem;
			-webkit-font-smoothing: antialiased;
		}
			.rtl .post-edit-link:before{
				display: none;
			}
			.rtl .post-edit-link:after{
				content: "\f464";
				font-family: "esicons";
				vertical-align: top;
				color: #444;
				margin-right: 0;
				margin-left: 9px;
				margin-left: 0.9rem;
			-webkit-font-smoothing: antialiased;
			}
		.post-edit-link-text{
		}
		.entry-taxonomies{
		}
		.entry-taxonomies:after{
			content:".";display:block;height:0;clear:both;visibility:hidden;
		}
			.entry-taxonomy{
				display: block;
			}
			.entry-taxonomy.category{
			}
				.entry-taxonomy-text{
				}
				.entry-taxonomy a{
				}

			.entry-taxonomy.category .entry-taxonomy-text,
			.entry-taxonomy.post_tag .entry-taxonomy-text{
				position: absolute;
				left: -9999em;
				top: -9999em;
			}
				.rtl .entry-taxonomy.category .entry-taxonomy-text,
				.rtl .entry-taxonomy.post_tag .entry-taxonomy-text{
					left: auto;
					right: -9999em;
				}
			.entry-taxonomy.category:before{
				content: "\f318";
				font-family: "esicons";
				vertical-align: top;
				margin-right: 5px;
				margin-right: 0.5rem;
				-webkit-font-smoothing: antialiased;
			}
				.rtl .entry-taxonomy.category:before{
					display: none;
				}
				.rtl .entry-taxonomy.category:after{
					content: "\f318";
					font-family: "esicons";
					vertical-align: top;
					margin-left: 5px;
					margin-left: 0.5rem;
					-webkit-font-smoothing: antialiased;
				}
			.entry-taxonomy.post_tag:before{
				content: "\f323";
				font-family: "esicons";
				vertical-align: top;
				margin-right: 5px;
				margin-right: 0.5rem;
				-webkit-font-smoothing: antialiased;
			}
				.rtl .entry-taxonomy.post_tag:before{
					display: none;
				}
				.rtl .entry-taxonomy.post_tag:after{
					content: "\f323";
					font-family: "esicons";
					vertical-align: top;
					margin-left: 5px;
					margin-left: 0.5rem;
					-webkit-font-smoothing: antialiased;
				}


/* Clear */
.singular .entry-header:after,
.singular .entry-content:after,
.singular .entry-footer:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}

/* === POST NAV: Next Post Link, Prev Post Link === */
.post-navigation{
	border: 1px solid #ccc;
	background: #fff;
	line-height: 1em;
	margin-bottom: 20px;
	margin-bottom: 2rem;
}
.post-navigation:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
	.post-navigation .screen-reader-text{
	}
	.post-navigation .nav-prev{
		padding: 20px;
		padding: 2rem;
		padding-left: 46px; /* 20 (padding) + 16 (icon) + 10 */
		padding-left: 4.6rem;
		width: 45%;
		float: left;
		text-align: left;
		position: relative;
	}
		.rtl .post-navigation .nav-prev{
			padding: 20px;
			padding: 2rem;
			padding-right: 46px; /* 20 (padding) + 16 (icon) + 10 */
			padding-right: 4.6rem;
			width: 45%;
			float: right;
			text-align: right;
		}
	.post-navigation .nav-next{
		padding: 20px;
		padding: 2rem;
		padding-right: 46px;
		padding-right: 4.6rem;
		width: 45%;
		float: right;
		text-align: right;
		position: relative;
	}
		.rtl .post-navigation .nav-next{
			padding: 20px;
			padding: 2rem;
			padding-left: 46px;
			padding-left: 4.6rem;
			width: 45%;
			float: left;
			text-align: left;
		}
		.post-navigation .nav-prev a:before{
			content: "\f340";
			font-family: "esicons";
			vertical-align: top;
			padding: 20px;
			padding: 2rem;
			color: #444;
			position: absolute;
			top: 0;
			left: 0;
			-webkit-font-smoothing: antialiased;
		}
			.rtl .post-navigation .nav-prev a:before{
				content: "\f344";
				left: auto;
				right: 0;
			}
		.post-navigation .nav-next a:after{
			content: "\f344";
			font-family: "esicons";
			vertical-align: top;
			padding: 20px;
			padding: 2rem;
			color: #444;
			position: absolute;
			top: 0;
			right: 0;
			-webkit-font-smoothing: antialiased;
		}
			.rtl .post-navigation .nav-next a:after{
				content: "\f340";
				right: auto;
				left: 0;
			}


/* === COMMENTS === */
#comments-template{
	margin-bottom: 20px;
	margin-bottom: 2rem;
}
	#comments{
	}
	.comments-header{
		margin-bottom: 20px;
		margin-bottom: 2rem;
		border: 1px solid #ccc;
	}
	.comments-header:after{
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}
		.comments-nav{
			float: right;
			line-height: 20px;
			line-height: 2rem;
			padding: 20px;
			padding: 2rem;
			margin: 0;
		}
			.rtl .comments-nav{
				float: left;
			}
			.comments-nav a{
			}
				.comments-nav .prev-comments{
				}
				.comments-nav .prev-comments:before{
					content: "\f340";
					font-family: "esicons";
					vertical-align: top;
					-webkit-font-smoothing: antialiased;
				}
					.rtl .comments-nav .prev-comments:before{
						display: none;
					}
					.rtl .comments-nav .prev-comments:after{
						content: "\f344";
						font-family: "esicons";
						vertical-align: top;
						-webkit-font-smoothing: antialiased;
						margin-right: 10px;
						margin-right: 1rem;
					}
				.comments-nav .next-comments{
				}
				.comments-nav .next-comments:after{
					content: "\f344";
					font-family: "esicons";
					vertical-align: top;
					-webkit-font-smoothing: antialiased;
					margin-left: 10px;
					margin-left: 1rem;
				}
					.rtl .comments-nav .next-comments:after{
						display: none;
					}
					.rtl .comments-nav .next-comments:before{
						content: "\f340";
						font-family: "esicons";
						vertical-align: top;
						-webkit-font-smoothing: antialiased;
					}
				.comments-nav .prev-comments .screen-reader-text,
				.comments-nav .next-comments .screen-reader-text{
				}
			.comments-nav .page-numbers{
			}
		#comments-number{
			font-size: 20px;
			font-size: 2rem;
			font-weight: 600;
			line-height: 1em;
			padding: 20px;
			padding: 2rem;
			margin: 0;
		}
		#comments-number:before{
			content: "\f125";
			font-family: "esicons";
			font-weight: 400;
			margin-right: 5px;
			color: #ccc;
			vertical-align: top;
			-webkit-font-smoothing: antialiased;
		}
			.rtl #comments-number:before{
				display: none;
			}
			.rtl #comments-number:after{
				content: "\f125";
				font-family: "esicons";
				font-weight: 400;
				margin-left: 5px;
				color: #ccc;
				vertical-align: top;
				-webkit-font-smoothing: antialiased;
			}
	.comment-list{
		list-style: none;
		margin: 0;
	}
		.rtl .comment-list{
			margin: 0;
		}
		.comment-list .children{
			list-style: none;
			margin: 0 0 0 10px;
			margin: 0 0 0 1rem;
		}
			.rtl .comment-list .children{
				margin: 0 10px 0 0;
				margin: 0 1rem 0 0;
			}
		/* Comment */
		.comment{
		}
		.comment.bypostauthor{
		}
			.comment-wrap{
				border: 1px solid #ccc;
				margin-bottom: 20px;
				margin-bottom: 2rem;
				background: #fff;
			}
			.comment-wrap:after{
				content:".";display:block;height:0;clear:both;visibility:hidden;
			}
				.comment-meta{
					border-bottom: 1px solid #ccc;
				}
				.comment-meta:after{
					content:".";display:block;height:0;clear:both;visibility:hidden;
				}
					.comment-meta .avatar{
						display: block;
						float: left;
						padding: 10px;
						padding: 1rem;
						width: 100px;
						border: 1px solid #ccc;
						margin: -1px 0 -1px -1px;
					}
						.rtl .comment-meta .avatar{
							float: right;
							margin: -1px -1px -1px 0;
						}
					.comment-meta > .wrap{
						float: left;
						padding: 20px;
					}
						.rtl .comment-meta > .wrap{
							float: right;
						}
						.comment-byline{
							
						}
							.comment-author{
								color:#444;
								font-style: normal;
								font-weight: 700;
							}
							.comment-published{
								color: #444;
							}
								.comment-published:before{
								}
							.comment-permalink{ 
							}
							.comment-permalink:before{
								content: "\f469";
								font-family: "esicons";
								vertical-align: top;
								color: #444;
								margin-right: 5px;
								-webkit-font-smoothing: antialiased;
							}
							.comment-edit-link{
								margin-left: 10px;
							}
								.rtl .comment-edit-link{
									margin-left: 0;
									margin-right: 10px;
								}
							.comment-edit-link:before{
								content: "\f464";
								font-family: "esicons";
								vertical-align: top;
								margin-right: 5px;
								color: #444;
								-webkit-font-smoothing: antialiased;
							}
								.rtl .comment-edit-link:before{
									display: none;
								}
								.rtl .comment-edit-link:before{
									margin-left: 5px;
								}
				.comment-content{
					padding: 20px;
					padding: 2rem;
					padding-bottom: 0;
				}
					.comment-awaiting-moderation{
						background: #ebebeb;
						padding: 10px;
						padding: 1rem;
					}
					.comment-content p{
					}
				.comment-reply-link{
					float: right;
					padding: 10px 20px;
					padding: 1rem 2rem;
					border-top: 1px solid #ccc;
					border-left: 1px solid #ccc;
				}
					.rtl .comment-reply-link{
						float: left;
						border-left: 0;
						border-right: 1px solid #ccc;
					}
		/* Pingback */
		.pingback{
		}
			.pingback .comment-meta{
				border: none;
			}
				.pingback .comment-author{
				}
					.pingback .comment-author a{
						color: #444;
					}
					.pingback .comment-author a:hover,
					.pingback .comment-author a:focus{
						color: #21759B;
					}
				.pingback .comment-published{
					color: #444;
				}
				.pingback .comment-permalink{
				}
				.pingback .comment-edit-link{
				}
		
	#respond{
		background: #fff;
		margin-bottom: 20px;
		margin-bottom: 2rem;
		border: 1px solid #ccc;
	}
	#respond:after{
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}
	.comment-list #respond{
		margin-left: 10px;
		margin-left: 1rem;
	}
		.rtl .comment-list #respond{
			margin-left: 0;
			margin-right: 10px;
			margin-right: 1rem;
		}
		#reply-title{
			font-size: 20px;
			font-size: 2rem;
			font-weight: 600;
			line-height: 1em;
			padding: 20px;
			padding: 2rem;
			margin: 0;
			border-bottom: 1px solid #ccc;
		}
			#cancel-comment-reply-link{
				font-size: 20px;
				font-size: 2rem;
				float: right;
				font-weight: 400;
			}
				.rtl #cancel-comment-reply-link{
					float: left;
				}
			#cancel-comment-reply-link:after{
				content: "\f158";
				font-family: "esicons";
				vertical-align: top;
				-webkit-font-smoothing: antialiased;
			}
			#cancel-comment-reply-link span{
				position: absolute;
				left: -9999px;
				top: -9999px;
			}
		#commentform{
			padding: 20px;
			padding: 2rem;
		}
			#commentform p{
				margin-bottom: 0;
			}
			#commentform .required{
				color: #ff0000;
			}
			#commentform label{
				padding: 5px 10px;
				display: block;
				float: left;
			}
				.rtl #commentform label{
					float: right;
				}

			#commentform .logged-in-as{
				margin-bottom: 20px;
				margin-bottom: 2rem;
			}
			#commentform .comment-notes{
				margin-bottom: 20px;
				margin-bottom: 2rem;
			}

			/* == Form input == */

			/* Comment */
			#commentform .comment-form-comment{
				float: none;
				width: 100%;
				clear: both;
			}
			#commentform label[for="comment"]:before{
				content: "\f464";
				font-family: "esicons";
				vertical-align: top;
				margin-right: 5px;
				-webkit-font-smoothing: antialiased;
			}
				.rtl #commentform label[for="comment"]:before{
					display: none;
				}
				.rtl #commentform label[for="comment"]:after{
					content: "\f464";
					font-family: "esicons";
					vertical-align: top;
					margin-left: 5px;
					-webkit-font-smoothing: antialiased;
				}
			#commentform #comment{
				height: 150px;
			}

			/* Author */
			#commentform .comment-form-author{
				width: 30%;
				margin-right: 5%;
				float: left;
			}
				..rtl #commentform .comment-form-author{
					margin-right: 0;
					margin-left: 5%;
					float: right;
				}
			#commentform label[for="author"]:before{
				content: "\f110";
				font-family: "esicons";
				vertical-align: top;
				margin-right: 5px;
				-webkit-font-smoothing: antialiased;
			}
				.rtl #commentform label[for="author"]:before{
					display: none;
				}
				.rtl #commentform label[for="author"]:after{
					content: "\f110";
					font-family: "esicons";
					vertical-align: top;
					margin-left: 5px;
					-webkit-font-smoothing: antialiased;
				}
			#commentform #author{
			}

			/* Email */
			#commentform .comment-form-email{
				width: 30%;
				margin-right: 5%;
				float: left;
			}
				.rtl #commentform .comment-form-email{
					margin-right: 0;
					margin-left: 5%;
					float: right;
				}
			#commentform label[for="email"]:before{
				content: "\f466";
				font-family: "esicons";
				vertical-align: top;
				margin-right: 5px;
				-webkit-font-smoothing: antialiased;
			}
				.rtl #commentform label[for="email"]:before{
					display: none;
				}
				.rtl #commentform label[for="email"]:after{
					content: "\f466";
					font-family: "esicons";
					vertical-align: top;
					margin-left: 5px;
					-webkit-font-smoothing: antialiased;
				}
			#commentform #email{
			}

			/* Website */
			#commentform .comment-form-url{
				width: 30%;
				float: left;
			}
				.rtl #commentform .comment-form-url{
					float: right;
				}
			#commentform label[for="url"]:before{
				content: "\f319";
				font-family: "esicons";
				vertical-align: top;
				margin-right: 5px;
				-webkit-font-smoothing: antialiased;
			}
				.rtl #commentform label[for="url"]:before{
					display: none;
				}
				.rtl #commentform label[for="url"]:after{
					content: "\f319";
					font-family: "esicons";
					vertical-align: top;
					margin-left: 5px;
					-webkit-font-smoothing: antialiased;
				}
			#commentform .comment-form-url:after{
				content:".";display:block;height:0;clear:both;visibility:hidden;
			}
			#commentform #url{
			}

			/* Clear */
			#respond .comment-form-comment:before,
			#respond .comment-form-comment:after{
				content:".";display:block;height:0;clear:both;visibility:hidden;
			}

			/* Allowed Tags */
			#commentform .form-allowed-tags{
				display: none;
			}
			#commentform .form-allowed-tags code{
				display: block;
				padding: 10px;
				padding: 1rem;
			}
			#commentform .form-submit{
			}
			#commentform .form-submit:after{
				content:".";display:block;height:0;clear:both;visibility:hidden;
			}
				#commentform #submit{
					float: right;
					margin-bottom: 0;
					margin-top: 20px;
					margin-top: 2rem;
				}
					.rtl #commentform #submit{
						float: left;
					}
/* Closed Comments */
.comments-closed{
	background: #eee;
	padding: 20px;
	padding: 2rem;
	margin-bottom: 20px;
	margin-bottom: 2rem;
}
.comments-closed.pings-open{
}

/* === LOOP PAGINATION === */
.navigation.pagination{
}
.navigation.pagination:before,
.navigation.pagination:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
	.navigation.pagination .screen-reader-text{
	}
	.navigation.pagination .page-numbers{
		line-height: 1;
		padding: 10px 14px;
		padding: 1rem 1.4rem;
		display: block;
		float: left;
		background: #fff;
		border: 1px solid #ccc;
		margin: 0 10px 20px 0;
		margin: 0 1rem 2rem 0;
	}
		.navigation.pagination .page-numbers{
			float: right;
			margin: 0 0 20px 10px;
			margin: 0 0 2rem 1rem;
		}
	.navigation.pagination a.page-numbers:hover,
	.navigation.pagination a.page-numbers:focus{
		border: 1px solid #aaa;
	}
	.navigation.pagination .page-numbers.current{
		color: #ccc;
		border: 1px solid #eee;
	}
	.navigation.pagination .page-numbers.dots{
		color: #ccc;
		border: 1px solid #eee;
	}
	.navigation.pagination .page-numbers.prev{
	}
	.navigation.pagination .page-numbers.next{
	}
	.navigation.pagination .page-numbers.prev:before{
		content: "\f340";
		font-family: "esicons";
		vertical-align: top;
		-webkit-font-smoothing: antialiased;
	}
		.rtl .navigation.pagination .page-numbers.prev:before{
			content: "\f344";
		}
	.navigation.pagination .page-numbers.next:after{
		content: "\f344";
		font-family: "esicons";
		vertical-align: top;
		-webkit-font-smoothing: antialiased;
	}
		.rtl .navigation.pagination .page-numbers.next:after{
			content: "\f340";
		}


/* === SIDEBAR === */
#sidebar-primary{
	width: 300px;
	width: 30rem;
	margin-bottom: 20px;
	margin-bottom: 2rem;
}

/* === WIDGETS === */
.widget{
	padding: 20px;
	padding: 2rem;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	margin-bottom: 2rem;
}
	.widget-title{
		font-size: 17px;
		font-size: 1.7rem;
		line-height: 1em;
		padding: 16px 20px;
		padding: 1.6rem 2rem;
		margin: -20px -20px 20px -20px;
		border-bottom: 1px solid #ccc;
	}

/* Widget Archives */
.widget_archive ul{
	list-style: none;
	margin: 0;
}
.widget_archive ul li{
	position: relative;
	padding-left: 20px;
	padding-left: 2rem;
}
	.rtl .widget_archive ul li{
		position: relative;
		padding-left: 0;
		padding-right: 20px;
		padding-right: 2rem;
	}
.widget_archive ul li:before{
	content: '\f428';
	margin-right: 5px;
	font-family: "esicons";
	vertical-align: top;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-font-smoothing: antialiased;
}
	.rtl .widget_archive ul li:before{
		left: auto;
		right: 0;
	}

/* Widget Calendar */
#wp-calendar{
	line-height: 1em;
}
#wp-calendar td,
#wp-calendar th{
	padding: 5px;
}
#wp-calendar,
#wp-calendar th,
#wp-calendar tr,
#wp-calendar td{
	text-align: center;
}

/* Widget Categories */
.widget_categories ul{
	list-style: none;
	margin: 0;
}
.widget_categories ul li{
	position: relative;
	padding-left: 20px;
	padding-left: 2rem;
}
	.rtl .widget_categories ul li{
		padding-left: 0;
		padding-right: 20px;
		padding-right: 2rem;
	}
.widget_categories ul li:before{
	content: '\f428';
	margin-right: 5px;
	font-family: "esicons";
	vertical-align: top;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-font-smoothing: antialiased;
}
	.rtl .widget_categories ul li:before{
		left: auto;
		right: 0;
	}

/* Widget Custom Menus */
.widget_nav_menu ul{
	list-style: none;
	margin: 0;
}
.widget_nav_menu ul li{
	position: relative;
	padding-left: 20px;
	padding-left: 2rem;
}
	.rtl .widget_nav_menu ul li{
		padding-left: 0;
		padding-right: 20px;
		padding-right: 2rem;
	}
.widget_nav_menu ul li:before{
	content: '\f428';
	margin-right: 5px;
	font-family: "esicons";
	vertical-align: top;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-font-smoothing: antialiased;
}
	.rtl .widget_nav_menu ul li:before{
		left: auto;
		right: 0;
	}

/* Widget Meta */
.widget_meta ul{
	list-style: none;
	margin: 0;
}
.widget_meta ul li{
	position: relative;
	padding-left: 20px;
	padding-left: 2rem;
}
	.rtl .widget_meta ul li{
		padding-left: 0;
		padding-right: 20px;
		padding-right: 2rem;
	}
.widget_meta ul li:before{
	content: '\f428';
	margin-right: 5px;
	font-family: "esicons";
	vertical-align: top;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-font-smoothing: antialiased;
}
	.rtl .widget_meta ul li:before{
		left: auto;
		right: 0;
	}

/* Widget Pages */
.widget_pages ul{
	list-style: none;
	margin: 0;
}
.widget_pages ul li{
	position: relative;
	padding-left: 20px;
	padding-left: 2rem;
}
	.rtl .widget_pages ul li{
		padding-left: 0;
		padding-right: 20px;
		padding-right: 2rem;
	}
.widget_pages ul li:before{
	content: '\f428';
	margin-right: 5px;
	font-family: "esicons";
	vertical-align: top;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-font-smoothing: antialiased;
}
	.rtl .widget_pages ul li:before{
		left: auto;
		right: 0;
	}

/* Widget Recent Comments */
.widget_recent_comments ul{
	list-style: none;
	margin: 0;
}
.widget_recent_comments li.recentcomments{
	margin-bottom: 10px;
	margin-bottom: 1rem;
}

/* Widget Recent Posts */
.widget_recent_entries ul{
	list-style: none;
	margin: 0;
}
.widget_recent_entries li{
	margin-bottom: 10px;
	margin-bottom: 1rem;
}
.widget_recent_entries li a{
}
.widget_recent_entries .post-date{
	display: block;
}
.widget_recent_entries .post-date:before{
	content: "\f145";
	font-family: "esicons";
	vertical-align: top;
	margin-right: 5px;
	-webkit-font-smoothing: antialiased;
}
	.rtl .widget_recent_entries .post-date:before{
		display: none;
	}
	.rtl .widget_recent_entries .post-date:after{
		content: "\f145";
		font-family: "esicons";
		vertical-align: top;
		margin-left: 5px;
		-webkit-font-smoothing: antialiased;
	}

/* Widget RSS */
.widget_rss ul{
	list-style: none;
	margin: 0;
}
.widget_rss li{
	margin-bottom: 10px;
	margin-bottom: 1rem;
}
.widget_rss .rss-date{
	display: block;
}
.widget_rss .rss-date:before{
	content: "\f145";
	font-family: "esicons";
	vertical-align: top;
	margin-right: 5px;
	-webkit-font-smoothing: antialiased;
}
	.rtl .widget_rss .rss-date:before{
		display: none;
	}
	.rtl .widget_rss .rss-date:after{
		content: "\f145";
		font-family: "esicons";
		vertical-align: top;
		margin-left: 5px;
		-webkit-font-smoothing: antialiased;
	}
.widget_rss .widget-title .rsswidget:first-child{
	display: none;
}
.widget_rss .widget-title .rsswidget{
}
.widget_rss cite{
}

/* Widget Search */
.widget_search .search-submit{
	display: none;
}
.widget_search .search-field{
	margin: 0;
}

/* Widget Tag Cloud */
.widget_tag_cloud:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
.tagcloud a{
	font-size: 17px !important;
	font-size: 1.7rem !important;
	display: block;
	float: left;
	padding: 5px 10px;
	padding: 0.5rem 1rem;
	margin: 0 10px 10px 0;
	margin: 0 1rem 1rem 0;
	color: #444;
	background: #eee;
}
	.rtl .tagcloud a{
		float: right;
		margin: 0 0 10px 10px;
		margin: 0 0 1rem 1rem;
	}
.tagcloud a:hover,
.tagcloud a:focus{
	color: #000;
	background: #ddd;
}

/* Widget Text */
.widget_text{
}
.textwidget{
}


/* === FOOTER === */
#footer{
	border-top: 1px solid #ccc;
	width: 100%;
	clear: both;
}
#menu-footer{
}
#menu-footer .menu-container{
	border-top: none;
}
#menu-footer-items{
	margin-top: -1px;
}
#menu-footer-items:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
#menu-footer li a{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-bottom: -1px;
	background: #fff;
}
#footer > .wrap{
	padding: 16px;
	padding: 1.6rem;
}
#footer .copyright{
	margin: 0;
}


/**
 * Media Queries CSS
******************************************/

/* === #00 - VIEWPORT FIX === 
 * Does the same thing as <meta name="viewport" content="width=device-width">
 * for Windows 8 "Snapped" views in IE10+
 * @link http://core.trac.wordpress.org/ticket/25888
 * @link http://blog.teamtreehouse.com/thinking-ahead-css-device-adaptation-with-viewport
 */
@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}


/* === LAYOUTS === */

@media screen and (max-width: 900px){
	/* Push primary sidebar to bottom */
	.wordpress #main > .wrap,
	.rtl .wordpress #main > .wrap{
		margin-right: 0;
		margin-left: 0;
	}
	.wordpress #content,
	.rtl .wordpress #content{
		float: none;
	}
	.wordpress #sidebar-primary,
	.rtl .wordpress #sidebar-primary{
		margin-right: 0;
		margin-left: 0;
		float: left;
		width: 100%;
	}
	/* 580px Content Width */
	#container{
		max-width: 660px;
	}
}
@media screen and (max-width: 660px){
	/* Full width container */
	#container,
	.rtl #container{
		width: 100%;
		clear: both;
		max-width: 100%;
		margin: 0 auto;
		border: none;
	}

	/* Header: Social Icons */
	#branding,
	.rtl #branding{
		float: none;
		width: 100%;
		margin-bottom: 20px;
		margin-bottom: 2rem;
		text-align: center;
	}
	.rtl #social-links,
	#social-links{
		float: none;
		margin: 0 auto;
		text-align: center;
	}
	#social-links li,
	.rtl #social-links li,
	#social-links li a,
	.rtl #social-links li a{
		float: none;
		margin-right: 0;
		display: inline-block;
	}
}

/* === MENU ===  */
@media screen and (max-width: 700px){
	
	/* Menu Toggle */
	.menu-toggle{
		width: 100%;
		display: block;
	}
	.menu-toggle:after{
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}
	.menu-toggle .menu-toggle-text{
		position: inherit;
		left: auto;
		top: auto;
		display: block;
		float: left;
		padding: 16px;
		padding: 1.6rem;
		text-transform: uppercase;
	}
		.rtl .menu-toggle .menu-toggle-text{
			float: right;
		}
	.menu-toggle a:hover,
	.menu-toggle a:focus{
		opacity: 0.8;
	}
	.menu-toggle a:before{
		content: "\f228";
		font-family: 'esicons';
		font-size: 32px;
		font-size: 3.2rem;
		line-height: 1em;
		padding: 8px;
		padding: 0.8rem;
		display: block;
		float: left;
		font-weight: 400;
		vertical-align: top;
		border-right: 1px solid #ccc;
		-webkit-font-smoothing: antialiased;
	}
		.rtl .menu-toggle a:before{
			float: right;
			border-right: 0;
			border-left: 1px solid #ccc;
		}
	.menu-toggle a.menu-toggle-close:before{
		content: "\f158";
	}
	.menu-toggle-active .menu-toggle a:before{
		content: "\f158";
	}
	/* Display sub menu */
	.mobile-menu-active .menu-dropdown li:hover > .sub-menu{
		left: auto;
	}
		.rtl .mobile-menu-active .menu-dropdown li:hover > .sub-menu{
			left: auto;
			right: auto;
		}
	/* sub menu on mobile device */
	.mobile-menu-active .menu-dropdown li:hover > .sub-menu,
	.mobile-menu-active .menu-dropdown li.focus > .sub-menu{
		left: auto;
	}
		.rtl .mobile-menu-active .menu-dropdown li:hover > .sub-menu,
		.rtl .mobile-menu-active .menu-dropdown li.focus > .sub-menu{
			left: auto;
			right: auto;
		}

	/* Menu Toggle */
	.menu-toggle{
		display: block;
	}
	.menu-toggle .menu-toggle-close{
		display: none;
	}

	/* === Menu Toggle === */

	/* Hide Menu */
	.menu-dropdown .menu-items{
		display: none;
	}

	/* Display Menu */
	.menu-toggle-active.menu-dropdown{
		border-bottom: 0;
	}
	.menu-toggle-active.menu-dropdown .menu-items{
		display: block;
	}
	.menu-toggle-active.menu-dropdown .menu-toggle{
		border-bottom: 1px solid #ccc;
	}
	.menu-toggle-active.menu-dropdown > .wrap{
		display: block;
	}

	/* === Drop Down Style === */

	/* Clear Dropdown */
	.menu-dropdown:after{
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}
	.menu-dropdown > .wrap{
		display: block;
		margin-right: 0;
		width: 100%;
	}

	/* Has Children 1st level */
	.menu-dropdown ul li.menu-item-open-children > a:before,
	.menu-dropdown ul li.menu-item-has-children > a:before{
		content: "";
		position: inherit;
		right: auto;
	}

	/* Mobile Menu Style */
	.menu-dropdown li{
		display: block;
		width: 100%;
	}
	.menu-dropdown .sub-menu{
		width: 100%;
		border: none;
	}
	.menu-dropdown li a,
	.menu-dropdown .sub-menu li a{
		width: 100%;
		border: none;
		border-bottom: 1px solid #ccc;
	}
	.menu-dropdown .sub-menu li a{
		background: transparent;
	}
	.menu-dropdown .sub-menu li:hover > .sub-menu,
	.menu-dropdown .sub-menu li:focus > .sub-menu,
	.menu-dropdown .sub-menu li.focus > .sub-menu,
	.menu-dropdown li:hover > .sub-menu,
	.menu-dropdown li:focus > .sub-menu,
	.menu-dropdown li.focus > .sub-menu,
	.menu-dropdown .sub-menu{
		opacity: 1;
		left: auto;
		right: auto;
		top: auto;
		position: inherit;
	}
		.rtl .menu-dropdown .sub-menu li:hover > .sub-menu,
		.rtl .menu-dropdown .sub-menu li:focus > .sub-menu,
		.rtl .menu-dropdown .sub-menu li.focus > .sub-menu,
		.rtl .menu-dropdown li:hover > .sub-menu,
		.rtl .menu-dropdown li:focus > .sub-menu,
		.rtl .menu-dropdown li.focus > .sub-menu,
		.rtl .menu-dropdown .sub-menu{
			left: auto;
			right: auto;
		}
	.menu-dropdown .sub-menu .sub-menu,
	.menu-dropdown .sub-menu .sub-menu{
	}
	.menu-dropdown .sub-menu .sub-menu{
	}
	/* .sub-menu */
	.wordpress .menu-dropdown ul li.menu-item-open-children > a:before,
	.wordpress .menu-dropdown ul li.menu-item-has-children > a:before{
		content: "";
	}
	.wordpress .menu-dropdown .sub-menu li a:before,
	.wordpress .menu-dropdown .sub-menu li.menu-item-open-children >  a:before,
	.wordpress .menu-dropdown .sub-menu li.menu-item-has-children > a:before{
		content: "";
	}
	.menu-dropdown .sub-menu li a{
		padding-left: 40px;
		padding-left: 4rem;
	}
		.rtl .menu-dropdown .sub-menu li a{
			padding-left: 0;
			padding-right: 40px;
			padding-right: 4rem;
		}
	.menu-dropdown .sub-menu .sub-menu li a{
		padding-left: 60px;
		padding-left: 6rem;
	}
		.rtl .menu-dropdown .sub-menu .sub-menu li a{
			padding-left: 0;
			padding-right: 60px;
			padding-right: 6rem;
		}
	.menu-dropdown .sub-menu .sub-menu .sub-menu li a{
		padding-left: 80px;
		padding-left: 8rem;
	}
		.rtl .menu-dropdown .sub-menu .sub-menu .sub-menu li a{
			padding-left: 0;
			padding-right: 80px;
			padding-right: 8rem;
		}
	.menu-dropdown .sub-menu .sub-menu .sub-menu .sub-menu li a{
		padding-left: 100px;
		padding-left: 10rem;
	}
		.rtl .menu-dropdown .sub-menu .sub-menu .sub-menu .sub-menu li a{
			padding-left: 0;
			padding-right: 100px;
			padding-right: 10rem;
		}
	.menu-dropdown .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu li a{
		padding-left: 120px;
		padding-left: 12rem;
	}
		.rtl .menu-dropdown .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu li a{
			padding-left: 0;
			padding-right: 120px;
			padding-right: 12rem;
		}
}


/* === ENTRY === */
@media screen and (max-width: 450px) {
	.entry-content .alignleft,
	.entry-content .alignright{
		max-width: 50%;
	}
}


/* === LOOP-NAV === */
@media screen and (max-width: 700px) {
	.post-navigation{
		border-bottom: 0;
	}
	.post-navigation .nav-prev,
	.rtl .post-navigation .nav-prev{
		width: 100%;
		border-bottom: 1px solid #ccc;
	}
	.post-navigation .nav-next,
	.rtl .post-navigation .nav-next{
		width: 100%;
		padding-right: 0;
		padding-left: 46px;
		padding-left: 4.6rem;
		text-align: left;
		border-bottom: 1px solid #ccc;
	}
	.rtl .post-navigation .nav-next a:after,
	.post-navigation .nav-next a:after{
		right: auto;
		left: 0;
	}
}


/* === COMMENTS === */
@media screen and (max-width: 700px) {
	#respond .comment-form-author,
	#respond .comment-form-email,
	#respond .comment-form-url{
		width: 100%;
		margin-right: 0;
		float: none;
	}
	#respond #submit{
		float: none;
		width: 100%;
	}
}
