/* === BASE === */
@import url("base/base.min.css");

/* === BASE MENUS === */
@import url("base/menus.min.css");

/* === LAYOUTS ===
@import url("layouts.css");
*/

/* === COLOR HELPER ===
@import url("color-helper.css");
*/

/* === WOOCOMMERCE ===
@import url("woocommerce.css");
*/



/* === ELEMENTS === */
body{
	background: #ccc;
	font-size:1.7em; /* use em for default, chrome fix */
}
a{
	color: #0073aa;
}
a:hover,
a:focus {
	color: #00a0d2;
}
ul{
	list-style: circle;
}
/* Blockquotes */
blockquote{
	position: relative;
	padding: 0 0 0 50px;
	padding: 0 0 0 5rem;
	font-size: 20px;
	font-size: 2rem;
	line-height: 1.7em;
}
q{
	position: relative;
	padding: 0 0 0 20px;
	padding: 0 0 0 2rem;
}
blockquote:before{
	content: "\f122";
	font-family: "dashicons";
	font-size: 40px;
	color: #ccc;
	position: absolute;
	left: 0;
	-webkit-font-smoothing: antialiased;
}
q:before{
	content: "\f122";
	font-family: "dashicons";
	color: #ccc;
	position: absolute;
	left: 0;
	-webkit-font-smoothing: antialiased;
}
.theme-genericons-active blockquote:before{
	content: "\f106";
	font-family: "genericons";
}
.theme-genericons-active q:before{
	content: "\f106";
	font-family: "genericons";
}
/* Forms */
label{
}
/* Pre, Code */
pre{
	background-color: #eee;
}
code{
	background: #eee;
}

/* === IMAGES & MEDIA === */


/* === CONTAINER === */
#container{
	background: #fff;
}

/* === HEADER === */
#header{
	padding: 20px;
	padding: 2rem;
}
	#branding{
		
	}
	#branding:after{
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}
		.site-title{
			font-size: 25px;
			font-size: 2.5rem;
			font-weight: 800;
			line-height: 1.2em;
			margin: 0;
		}
			.site-title a{
			}
			.site-title a:hover,
			.site-title a:focus{
			}
		.site-description{
			font-size: 17px;
			font-size: 1.7rem;
			font-weight: 400;
			line-height: 1.2em;
			margin: 0;
		}
	/* Logo */
	.wp-custom-logo{
	}
	.custom-logo-link{
		display: block;
		float: left;
	}
	.custom-logo{
		display: block;
	}


/* === MENUS === */

/* Primary Menu */
#menu-primary{
	
}
	#menu-primary .menu-container{
		
	}
		#menu-primary li a{
			
		}
		#menu-primary li a:hover,
		#menu-primary li a:focus{
			
		}
			#menu-primary li li a{
				
			}
			#menu-primary li li a:hover,
			#menu-primary li li a:focus{
				
			}
			#menu-primary .current-menu-item > a,
			#menu-primary .current-menu-ancestor > a{
				
			}
	/* Menu Search */
	#menu-primary .menu-search .search-toggle{
		
	}
	#menu-primary .search-toggle-active.menu-search button{
		
	}


/* === MAIN === */
#container > .wrap{
}

/* === CONTENT === */
#content{
}

/* === LOOP META === */
.archive-header{
	margin-bottom: 20px;
}
.archive-header:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
	.archive-title{
		font-size: 25px;
		font-size: 2.5rem;
		line-height: 1em;
		font-weight: 400;
		margin: 0;
	}
	.archive-description{
		
	}
	.archive-description p{
		margin: 0;
	}


/* === ENTRY === */
.entry{
	margin-bottom: 20px;
	margin-bottom: 2rem;
}
.entry:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
/* Entry Wrap */
.entry > .wrap{
}
	/* Entry Header */
	.entry-header{
	}
		/* Entry Title */
		.entry-title{
			font-size: 25px;
			font-size: 2.5rem;
			line-height: 1.2em;
			font-weight: 400;
			margin: 0;
		}
		.sticky .entry-title:before{
			
		}
		/* Byline */
		.entry-byline{
			
		}
		.entry-footer .entry-byline{
			
		}
			.entry-byline a{
				
			}
			.entry-byline a:hover,
			.entry-byline a:focus{
				
			}
			.entry-author{
				display: inline-block;
			}
			.entry-author:before{
				
			}
			.entry-date{
				display: inline-block;
			}
			.entry-date .updated:not(.published){
				display: none;
			}
			.entry-date .published:before{
				
			}
			.comments-link{
				display: inline-block;
			}
			.comments-link:empty{
				display: none;
			}
			.comments-link:before{
				content: " | ";
			}
			.comments-link:after{
				
			}
			.entry-permalink:before{
				
			}
	/* Entry Content, Entry Summary */
	.entry-content,
	.entry-summary{
	}
	.entry-content{
	}
	.entry-summary{
	}
	.entry-summary:after,
	.entry-content:after{
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}
		/* Thumbnail */
		.entry-summary .theme-thumbnail-link{
			float: right;
		}
		/* More link */
		.more-link-wrap{
			display: block;
		}
		p .more-link-wrap{
		}
		.more-link{
			display: inline-block;
		}
		p .more-link{
			margin-bottom: 0;
		}
		.more-text:after{
			
		}
		/* Page links */
		.wp-link-pages{
		}
		.wp-link-pages .page-numbers,
		.wp-link-pages a{
			padding: 5px 10px;
			padding: 0.5rem 1rem;
			border: 1px solid #eee;
		}
		.wp-link-pages a{
			border: 1px solid #ccc;
		}
		.wp-link-pages a:hover,
		.wp-link-pages a:focus{
			border: 1px solid #aaa;
		}
	/* Entry Footer */
	.entry-footer{
	}
		.post-edit-link{
		}
		.post-edit-link:before{
			
		}
		.post-edit-link:after{
			content:".";display:block;height:0;clear:both;visibility:hidden;
		}
		.entry-taxonomies{
		}
			.entry-taxonomy{
				display: block;
			}
			.entry-taxonomy.category{
			}
				.entry-taxonomy-text{
				}
				.entry-taxonomy a{
				}


/* Clear */
.singular .entry-header:after,
.singular .entry-content:after,
.singular .entry-footer:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}


/* === POST NAV: Next Post Link, Prev Post Link === */
.post-navigation{
	margin-bottom: 20px;
	margin-bottom: 2rem;
	padding: 10px;
	padding: 1rem;
	border: 1px solid #ccc;
	background: #fff;
}
.post-navigation:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
	.post-navigation .screen-reader-text{
	}
	.post-navigation .nav-prev{
		padding-left: 30px;
		padding-left: 3rem;
		width: 45%;
		float: left;
		text-align: left;
		position: relative;
	}
	.post-navigation .nav-next{
		padding-right: 30px;
		padding-right: 3rem;
		width: 45%;
		float: right;
		text-align: right;
		position: relative;
	}
		.post-navigation .nav-prev a:before{
			content: "\f340";
			font-family: "dashicons";
			vertical-align: top;
			-webkit-font-smoothing: antialiased;
			position: absolute;
			top: 0;
			left: 0;
		}
			.theme-genericons-active .post-navigation .nav-prev a:before{
				content: "\f430";
				font-family: "genericons";
			}
		.post-navigation .nav-next a:after{
			content: "\f344";
			font-family: "dashicons";
			vertical-align: top;
			-webkit-font-smoothing: antialiased;
			position: absolute;
			top: 0;
			right: 0;
		}
			.theme-genericons-active .post-navigation .nav-next a:after{
				content: "\f429";
				font-family: "genericons";
			}


/* === COMMENTS === */
#comments-template{
	padding-bottom: 20px;
	padding-bottom: 2rem;
	margin-bottom: 20px;
	margin-bottom: 2rem;
}
	#comments{
	}
	.comments-header{
	}
	.comments-header:after{
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}
		.comments-nav{
			float: right;
		}
			.comments-nav a{
			}
				.comments-nav .prev-comments{
				}
				.comments-nav .prev-comments:before{
					content: "\f340";
					font-family: "dashicons";
					vertical-align: top;
					-webkit-font-smoothing: antialiased;
					margin-right: 10px;
					margin-right: 1rem;
				}
				.theme-genericons-active .comments-nav .prev-comments:before{
					content: "\f430";
					font-family: "genericons";
				}
				.comments-nav .next-comments{
				}
				.comments-nav .next-comments:after{
					content: "\f344";
					font-family: "dashicons";
					vertical-align: top;
					-webkit-font-smoothing: antialiased;
					margin-left: 10px;
					margin-left: 1rem;
				}
				.theme-genericons-active .comments-nav .next-comments:after{
					content: "\f429";
					font-family: "genericons";
				}
				.comments-nav .prev-comments .screen-reader-text,
				.comments-nav .next-comments .screen-reader-text{
				}
			.comments-nav .page-numbers{
			}
		#comments-number{
			font-size: 1.2em;
			font-weight: 600;
			margin-bottom: 1rem;
			padding-bottom: 1rem;
			border-bottom: 1px solid #ccc;
		}
	.comment-list{
		list-style: none;
		margin: 0;
	}
		.comment-list .children{
			list-style: none;
			margin: 0 0 0 10px;
			margin: 0 0 0 1rem;
		}
		/* Comment */
		.comment{
		}
		.comment.bypostauthor{
		}
			.comment-wrap{
				border: 1px solid #ccc;
				padding: 10px;
				padding: 1rem;
				margin-bottom: 10px;
				margin-bottom: 1rem;
				background: #fff;
			}
			.comment-wrap:after{
				content:".";display:block;height:0;clear:both;visibility:hidden;
			}
				.comment-meta{
					margin-bottom: 10px;
					margin-bottom: 1rem;
					padding-bottom: 10px;
					padding-bottom: 1rem;
					border-bottom: 1px solid #ccc;
					color:#999;
				}
				.comment-meta:after{
					content:".";display:block;height:0;clear:both;visibility:hidden;
				}
					.comment-meta .avatar{
						float: left;
						margin-right: 10px;
						margin-right: 1rem;
						width: 45px;
						width: 4.5rem;
						height: 45px;
						height: 4.5rem;
					}
					.comment-author{
						margin-bottom: 10px;
						margin-bottom: 1rem;
						color:#444;
						font-style: normal;
						font-weight: 700;
					}
					.comment-published{
					}
					.comment-permalink{ 
					}
					.comment-edit-link{
					}
					.comment-edit-link:before{
						content: " | ";
					}
				.comment-content{
				}
					.comment-awaiting-moderation{
						background: #ebebeb;
						padding: 10px;
						padding: 1rem;
					}
					.comment-content p{
						margin-bottom: 10px;
						margin-bottom: 1rem;
					}
				.comment-reply-link{
					float: right;
					padding: 0 5px;
					padding: 0 0.5rem;
				}
		/* Pingback */
		.pingback{
			margin-bottom: 10px;
			margin-bottom: 1rem;
			padding: 10px;
			padding: 1rem;
			border: 1px solid #ccc;
			background: #fff;
		}
			.pingback .comment-meta{
				border: none;
				padding: 0;
				margin: 0;
			}
				.pingback .comment-author{
					font-weight: 400;
				}
					.pingback .comment-author a{
						color: #444;
					}
					.pingback .comment-author a:hover,
					.pingback .comment-author a:focus{
						color: #21759B;
					}
				.pingback .comment-published{
					color: #444;
				}
				.pingback .comment-permalink{
				}
				.pingback .comment-edit-link{
				}
		
	#respond{
		margin-bottom: 10px;
		margin-bottom: 1rem;
		padding: 10px;
		padding: 1rem;
		border: 1px solid #ccc;
		background: #fff;
	}
	#respond:after{
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}
	.comment-list #respond{
		margin-left: 10px;
		margin-left: 1rem;
	}
		#reply-title{
			font-size: 1.2em;
			font-weight: 600;
			margin-bottom: 10px;
			margin-bottom: 1rem;
			padding-bottom: 10px;
			padding-bottom: 1rem;
			border-bottom: 1px solid #ccc;
		}
			#reply-title small,
			#cancel-comment-reply-link{
				float: right;
				font-weight: 400;
			}
		#commentform{
		}
			#commentform p{
				margin-bottom: 0;
			}
			#commentform .required{
				color: #ff0000;
			}
			#commentform label{
			}
			#commentform .logged-in-as{
			}
			#commentform .comment-notes{
			}
			/* Form input */
			#commentform .comment-form-author{
				width: 30%;
				margin-right: 5%;
				float: left;
			}
				#commentform #author{
				}
			#commentform .comment-form-email{
				width: 30%;
				margin-right: 5%;
				float: left;
			}
				#commentform #email{
				}
			#commentform .comment-form-url{
				width: 30%;
				float: left;
			}
			#commentform .comment-form-url:after{
				content:".";display:block;height:0;clear:both;visibility:hidden;
			}
				#commentform #url{
				}
			#commentform .comment-form-comment{
				float: none;
				width: 100%;
				clear: both;
			}
			#respond .comment-form-comment:before,
			#respond .comment-form-comment:after{
				content:".";display:block;height:0;clear:both;visibility:hidden;
			}
				#commentform #comment{
				}
			#commentform .form-allowed-tags{
				display: none; /* do not hide for public theme. */
			}
				#commentform .form-allowed-tags code{
					display: block;
					padding: 10px;
					padding: 1rem;
				}
			#commentform .form-submit{
			}
				#commentform #submit{
					margin-bottom: 0;
					margin-top: 10px;
					margin-top: 1rem;
					float: right
				}
/* Closed Comments */
.comments-closed{
	background: #eee;
	padding: 20px;
	padding: 2rem;
	margin-bottom: 30px;
	margin-bottom: 3rem;
}
.comments-closed.pings-open{
}

/* === LOOP PAGINATION === */
.navigation.pagination{
	margin-right: 20px;
	margin-right: 2rem;
}
.navigation.pagination:before,
.navigation.pagination:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
	.navigation.pagination .screen-reader-text{
	}
	.navigation.pagination .page-numbers{
		display: inline-block;
		background: #fff;
		border: 1px solid #ccc;
		padding: 0 8px;
		padding: 0 0.8rem;
		margin-bottom: 20px;
		margin-bottom: 2rem;
	}
	.navigation.pagination a.page-numbers:hover,
	.navigation.pagination a.page-numbers:focus{
		border: 1px solid #aaa;
	}
	.navigation.pagination .page-numbers.current{
		color: #ccc;
		border: 1px solid #eee;
	}
	.navigation.pagination .page-numbers.dots{
		color: #ccc;
		border: 1px solid #eee;
	}
	.navigation.pagination .page-numbers.prev{
	}
	.navigation.pagination .page-numbers.next{
	}
	.navigation.pagination .page-numbers.prev:before{
		content: "\f340";
		font-family: "dashicons";
		vertical-align: top;
		-webkit-font-smoothing: antialiased;
	}
		.theme-genericons-active .navigation.pagination .page-numbers.prev:before{
			content: "\f430";
			font-family: "genericons";
		}
	.navigation.pagination .page-numbers.next:after{
		content: "\f344";
		font-family: "dashicons";
		vertical-align: top;
		-webkit-font-smoothing: antialiased;
	}
		.theme-genericons-active .navigation.pagination .page-numbers.next:after{
			content: "\f429";
			font-family: "genericons";
		}


/* === SIDEBAR === */
#sidebar-primary{
}

#sidebar-secondary{
}

/* === WIDGETS === */
.widget{
	
}
	.widget-title{
		font-size: 20px;
		font-size: 2rem;
		line-height: 1em;
		margin: 0;
	}
/* Calendar widget */
#wp-calendar,
#wp-calendar th,
#wp-calendar tr,
#wp-calendar td{
	text-align: center;
}
/* one level list */
.widget_recent_entries ul,
.widget_archive ul,
.widget_meta ul,
.widget_recent_comments ul,
.widget_rss ul{

}
.widget_recent_entries ul li,
.widget_archive ul li,
.widget_meta ul li,
.widget_recent_comments ul li,
.widget_rss ul li{

}
.widget_recent_entries ul li:after,
.widget_archive ul li:after,
.widget_meta ul li:after,
.widget_recent_comments ul li:after,
.widget_rss ul li:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
/* Widget Recent Post + Widget RSS date */
.widget_recent_entries .post-date,
.widget_rss .rss-date{
	display: block;
}
/* Widget RSS */
.widget_rss .widget-title .rsswidget:first-child{
	display: none;
}
.widget_rss .widget-title .rsswidget{
}
.widget_rss cite{
	float: right;
}
/* Widget Search */
.widget_search .screen-reader-text{
}
.widget_search .search-field{
}
.widget_search .search-submit{
	
}
.widget_search .search-submit:hover,
.widget_search .search-submit:focus{
	
}

/* === FOOTER === */
#footer{
}
	#menu-footer .menu-container{
		border: none;
		border-top: 1px solid #ccc;
		padding: 20px;
	}
	#menu-footer .menu-container li{
		float: left;
		display: inline;
	}
	#menu-footer  a{
		display: block;
		padding: 3px 0 3px 0;
	}
	#menu-footer  a:before{
		content: '|';
		color: #ccc;
		margin: 0 3px;
		vertical-align: top;
		-webkit-font-smoothing: antialiased;
	}
		.theme-genericons-active #menu-footer  a:before{
			content: '\f428';
			font-family: "genericons";
			color: #ccc;
			margin: 0;
			vertical-align: middle;
			-webkit-font-smoothing: antialiased;
		}
	/* Menu Copyright Item. */
	#menu-copyright{
	}
	#menu-copyright a{
		display: inline;
		padding: 0;
	}
	#menu-copyright a:before{
		display: none;
	}
	#menu-copyright span{
		display: block;
		padding: 3px 3px;
		padding: 3px 0;
	}


/**
 * Media Queries CSS
******************************************/

/* === #00 - VIEWPORT FIX === 
 * Does the same thing as <meta name="viewport" content="width=device-width">
 * for Windows 8 "Snapped" views in IE10+
 * @link http://core.trac.wordpress.org/ticket/25888
 * @link http://blog.teamtreehouse.com/thinking-ahead-css-device-adaptation-with-viewport
 */
@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}


/* === LAYOUTS === */

/* Push primary sidebar to bottom */
@media screen and (max-width: 1000px){
	.wordpress #main > .wrap{
		margin-right: 0;
		margin-left: 0;
	}
	.wordpress #sidebar-primary{
		margin-right: 0;
		margin-left: 0;
		padding-right: 20px;
		padding-right: 2rem;
		float: left;
		width: 100%;
	}
	.wordpress #sidebar-primary .widget{
	}
}

/* Push secondary sidebar to bottom */
@media screen and (max-width: 700px){
	.wordpress #main{
		float: none;
		padding-left: 0;
		padding-right: 0;
	}
	.wordpress #sidebar-secondary{
		margin-right: 0;
		margin-left: 0;
		padding-right: 20px;
		padding-right: 2rem;
		width: 100%;
	}
}


/* === MENU ===  */
@media screen and (max-width: 700px){

	/* Menu Primary 1st Level */
	#menu-primary li a{
	}

	/* === Menu Toggle: no-js === */
	#menu-primary .menu-toggle a{
	}
	#menu-primary:target .menu-toggle{
		border-bottom: 1px solid #ccc;
	}
	#menu-primary:target .menu-items{
		display: block;
	}
	#menu-primary:target .menu-toggle-open{
		display: none;
	}
	#menu-primary:target .menu-toggle-close{
		display: inline;
	}

	/* menus-media-queries.min.css */
	.menu-toggle{font-weight:700;line-height:1.8em;padding:9px;padding:0.9rem;width:100%;height:47px;height:4.7rem}.menu-toggle .screen-reader-text{position:inherit;left:auto;top:auto}.menu-toggle a:hover,.menu-toggle a:focus{opacity:0.8}.menu-toggle a:before{content:"\f203";font-family:'dashicons';font-weight:400;font-size:20px;font-size:2rem;vertical-align:top;margin-right:0.5rem;margin-right:5px;-webkit-font-smoothing:antialiased}.theme-genericons-active .menu-toggle a:before{content:"\f505";font-family:'genericons'}.menu-toggle a.menu-toggle-close:before{content:"\f158"}.theme-genericons-active .menu-toggle a.menu-toggle-close:before{content:"\f405"}.menu-toggle-active .menu-toggle a:before{content:"\f158"}.theme-genericons-active .menu-toggle-active .menu-toggle a:before{content:"\f405"}.mobile-menu-active .menu-dropdown li:hover > .sub-menu{left:auto}.mobile-menu-active .menu-dropdown li:hover > .sub-menu,.mobile-menu-active .menu-dropdown li.focus > .sub-menu{left:auto}.menu-toggle{display:block}.menu-toggle .menu-toggle-close{display:none}.menu-dropdown .menu-items{display:none}.menu-toggle-active.menu-dropdown{border-bottom:0}.menu-toggle-active.menu-dropdown .menu-items{display:block}.menu-toggle-active.menu-dropdown .menu-toggle{border-bottom:1px solid #ccc}.menu-toggle-active.menu-dropdown > .wrap{display:block}.menu-dropdown:after{content:".";display:block;height:0;clear:both;visibility:hidden}.menu-dropdown > .wrap{display:block;margin-right:0;width:100%}.menu-dropdown ul li.menu-item-open-children > a:before,.menu-dropdown ul li.menu-item-has-children > a:before{content:"";position:inherit;right:auto}.menu-dropdown li{display:block;width:100%}.menu-dropdown .sub-menu{width:100%;border:none}.menu-dropdown li a,.menu-dropdown .sub-menu li a{width:100%;border:none;border-bottom:1px solid #ccc}.menu-dropdown .sub-menu li a{background:transparent}.menu-dropdown .sub-menu li:hover > .sub-menu,.menu-dropdown .sub-menu li:focus > .sub-menu,.menu-dropdown .sub-menu li.focus > .sub-menu,.menu-dropdown li:hover > .sub-menu,.menu-dropdown li:focus > .sub-menu,.menu-dropdown li.focus > .sub-menu,.menu-dropdown .sub-menu{opacity:1;left:auto;top:auto;position:inherit}.wordpress .menu-dropdown ul li.menu-item-open-children > a:before,.wordpress .menu-dropdown ul li.menu-item-has-children > a:before{content:""}.wordpress .menu-dropdown .sub-menu li a:before,.wordpress .menu-dropdown .sub-menu li.menu-item-open-children > a:before,.wordpress .menu-dropdown .sub-menu li.menu-item-has-children > a:before{content:""}.menu-dropdown .sub-menu li a{padding-left:40px;padding-left:4rem}.menu-dropdown .sub-menu .sub-menu li a{padding-left:60px;padding-left:6rem}.menu-dropdown .sub-menu .sub-menu .sub-menu li a{padding-left:80px;padding-left:8rem}.menu-dropdown .sub-menu .sub-menu .sub-menu .sub-menu li a{padding-left:100px;padding-left:10rem}.menu-dropdown .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu li a{padding-left:120px;padding-left:12rem}

}


/* === ENTRY === */
@media screen and (max-width: 450px) {
	.entry-byline .entry-author{
		display: block;
	}
	.entry-content .alignleft,
	.entry-content .alignright{
		max-width: 50%;
	}
}


/* === LOOP-NAV === */
@media screen and (max-width: 700px) {
	.post-navigation .nav-prev{
		width: 100%;
	}
	.post-navigation .nav-next{
		width: 100%;
		padding-right: 0;
		padding-left: 30px;
		padding-left: 3rem;
		text-align: left;
	}
	.post-navigation .nav-next a:after{
		right: auto;
		left: 0;
	}
}


/* === COMMENTS === */
@media screen and (max-width: 700px) {
	#respond .comment-form-author,
	#respond .comment-form-email,
	#respond .comment-form-url{
		width: 100%;
		margin-right: 0;
		float: none;
	}
	#respond #submit{
		float: none;
	}
}

