
/* === WIDGETS === */
.widget{
	
}
	.widget-title{
		font-size: 20px;
		font-size: 2rem;
		line-height: 1em;
		margin: 0;
	}
/* Calendar widget */
#wp-calendar,
#wp-calendar th,
#wp-calendar tr,
#wp-calendar td{
	text-align: center;
}
/* one level list */
.widget_recent_entries ul,
.widget_archive ul,
.widget_meta ul,
.widget_recent_comments ul,
.widget_rss ul{

}
.widget_recent_entries ul li,
.widget_archive ul li,
.widget_meta ul li,
.widget_recent_comments ul li,
.widget_rss ul li{

}
.widget_recent_entries ul li:after,
.widget_archive ul li:after,
.widget_meta ul li:after,
.widget_recent_comments ul li:after,
.widget_rss ul li:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
/* Widget Recent Post + Widget RSS date */
.widget_recent_entries .post-date,
.widget_rss .rss-date{
	display: block;
}
/* Widget RSS */
.widget_rss .widget-title .rsswidget:first-child{
	display: none;
}
.widget_rss .widget-title .rsswidget{
}
.widget_rss cite{
	float: right;
}
/* Widget Search */
.widget_search .screen-reader-text{
}
.widget_search .search-field{
	text-align: center;
}
.widget_search .search-submit{
	
}
.widget_search .search-submit:hover,
.widget_search .search-submit:focus{
	
}