
/* Widget Recent Posts */
.widget_recent_entries ul{
	list-style: none;
	margin: 0;
}
.widget_recent_entries li{
	margin-bottom: 10px;
	margin-bottom: 1rem;
}
.widget_recent_entries li a{
}
.widget_recent_entries .post-date{
	display: block;
}
.widget_recent_entries .post-date:before{
	content: "\f145";
	font-family: "esicons";
	vertical-align: top;
	margin-right: 5px;
	-webkit-font-smoothing: antialiased;
}
	.rtl .widget_recent_entries .post-date:before{
		display: none;
	}
	.rtl .widget_recent_entries .post-date:after{
		content: "\f145";
		font-family: "esicons";
		vertical-align: top;
		margin-left: 5px;
		-webkit-font-smoothing: antialiased;
	}